<md-content class="slick-list-header-box md-hue-2">
    <div class="slick-list-header-container" style="width: 100%">
        <md-input-container class="slick-list-header-search-box" ng-show="search == 'on' || search == 'yes' || search == 'true'">
            <label class="slick-list-header-search-label">Search:</label>
            <input class="slick-list-header-search-input" type="text" ng-model="model.searchField.$"/>
        </md-input-container>
        <div class="slick-list-header-pagination-box" ng-show="pagination == 'on' || pagination == 'yes' || pagination == 'true'">
            <span class="clickable-text" ng-click="prevPage()">&lt;</span> Page {{ model.pagenum }} of {{ model.totalpages }} <span class="clickable-text" ng-click="nextPage()">&gt;</span>
            <md-input-container>
                <label>Items per page: </label>
                <md-select ng-model="model.pageSize">
                    <md-option ng-value="5">5</md-option>
                    <md-option ng-value="10">10</md-option>
                    <md-option ng-value="25" selected>25</md-option>
                    <md-option ng-value="50">50</md-option>
                </md-select>
            </md-input-container>
        </div>
    </div>
    <table style="width: 100%" ng-transclude></table>
</md-content>