<div class="slickview">
    Welcome to the projects page
    <slick-list-header model="projectList" search="on" pagination="on" default-sort="name">
        <slick-list-columns class="projects-list-column-container">
            <slick-list-column class="projects-list-name-column" sort-property-name="name" sortable="true">Name</slick-list-column>
            <slick-list-column class="projects-list-lastUpdated-column" sort-property-name="lastUpdated.$date" sortable="true">Last Updated</slick-list-column>
            <slick-list-column class="projects-list-defaultBuild-column" sortable="false">Default Release and Build</slick-list-column>
        </slick-list-columns>
    </slick-list-header>
    <div class="projects-list-row-container">
        <div ng-repeat="project in projects | slickListFilter:projectList" ng-animate="{enter: 'animated fadeInRightBig', leave: 'animated fadeOutRightBig'}" class="projects-list-row">
            <div class="projects-list-column-container">
                <div class="projects-list-name-column"><a href="projects/{{ project.name }}">{{ project.name }}</a></div>
                <div class="projects-list-lastUpdated-column">{{ project.lastUpdated |date:'MMM d, y h:mm:ss a' }}</div>
                <div class="projects-list-defaultBuild-column"></div>
            </div>
            <div class="projects-list-project-description" ng-bind="project.description">Project Description</div>
        </div>
    </div>
</div>