<div class="slickview">
    <slick-dialog title="Add Component" size="small" show="showAddComponent" buttons="Add|Cancel" button-callback="dialogButtonClicked(buttonName)">
        <div class="data-view">
            <div class="data-view-item">
                <div class="data-view-property-name">Name</div>
                <div class="data-view-property-value"><input type="text" ng-model="component.name" /></div>
            </div>
            <div class="data-view-item">
                <div class="data-view-property-name">Code</div>
                <div class="data-view-property-value" ng-model="component.code" contenteditable="true"></div>
            </div>
        </div>
    </slick-dialog>

    <form name="projectForm">
        <div class="data-view">
            <div class="data-view-item">
                <div class="data-view-property-name">Description</div>
                <div class="data-view-property-value" ng-model="project.description" name="description" contenteditable="true"></div>
            </div>
            <div class="data-view-item">
                <div class="data-view-property-name">Last Updated</div>
                <div class="data-view-property-value" ng-bind="project.lastUpdated | date:'MMM d, y h:mm:ss a'"></div>
            </div>
            <div class="data-view-item">
                <div class="data-view-property-name">Components</div>
                <div class="data-view-property-value"><div ng-repeat="component in project.components"><span ng-model="component.name" contenteditable="true"></span> <span class="project-component-code" ng-show="component.code">(<span ng-model="component.code" contenteditable="true"></span>)</span></div><span class="button" ng-click="addComponent()">Add</span> </div>
            </div>
            <div class="data-view-item" ng-show="projectForm.$dirty" ng-animate="{show: 'animated bounceInLeft', hide: 'animated bounceOutLeft'}">
                <div class="data-view-property-name">&nbsp;</div>
                <div class="data-view-save"><span class="button" ng-click="save()">Save</span></div>
            </div>
        </div>
    </form>
</div>