<!DOCTYPE html>
<html>
<head>
    <base href="{{ base }}"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=IE9">
    <title>Slick</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="static/favicon.png"/>
    <link rel="stylesheet" href="static/components/google-code-prettify/src/prettify.css"/>
    <link rel="stylesheet" href="static/components/google-code-prettify/styles/sons-of-obsidian.css"/>
    <link rel="stylesheet" href="static/components/kalendae/kalendae.css"/>
    <link rel="stylesheet" href="static/components/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="static/components/angular-material-icons/angular-material-icons.css">
    <link href="static/components/angular-material-data-table/dist/md-data-table.min.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet">
    <!-- compiled stylesheet -->
    <link rel="stylesheet" href="static/style.css"/>

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <!-- static files -->
    <script src="static/components/angular/angular{{ min }}.js"></script>
    <script src="static/components/angular-cookies/angular-cookies{{ min }}.js"></script>
    <script src="static/components/angular-material-data-table/dist/md-data-table{{ min }}.js"></script>
    <script src="static/components/angular-route/angular-route{{ min }}.js"></script>
    <script src="static/components/angular-material/angular-material{{ min }}.js"></script>
    <script src="static/components/angular-material-icons/angular-material-icons{{ min }}.js"></script>
    <script src="static/components/angular-aria/angular-aria{{ min }}.js"></script>
    <script src="static/components/angular-resource/angular-resource{{ min }}.js"></script>
    <script src="static/components/angular-animate/angular-animate{{ min }}.js"></script>
    <script src="static/components/angular-sanitize/angular-sanitize{{ min }}.js"></script>
    <script src="static/components/lodash/lodash{{ min }}.js"></script>
    <script src="static/components/restangular/dist/restangular{{ min }}.js"></script>
    <script src="static/components/objectid/Objectid.js"></script>
    <script src="static/components/kalendae/kalendae.standalone.js"></script>
    <script src="static/components/google-code-prettify/src/prettify.js"></script>
    <script src="static/components/google-code-prettify/src/lang-yaml.js"></script>
    <script src="static/components/google-code-prettify/src/lang-css.js"></script>
    <script src="static/components/google-code-prettify/src/lang-dart.js"></script>
    <script src="static/components/google-code-prettify/src/lang-go.js"></script>
    <script src="static/components/google-code-prettify/src/lang-vb.js"></script>

    <!-- <link rel="stylesheet" href="static/components/animate.css/animate.css" /> -->

    {% if development %}
        <script src="static/components/jasmine/lib/jasmine-core/jasmine.js"></script>
        <script src="static/components/jasmine-jsreporter/jasmine-jsreporter.js"></script>
        <script src="static/components/jasmine-underscore/jasmine-underscore.js"></script>
        <script src="static/components/angular-mocks/angular-mocks.js"></script>
    {% endif %}

    <!-- compiled files -->
    <script src="static/scripts.js"></script>

    <script type="text/javascript">
        google.load("visualization", "1", {packages: ["corechart"]});
        google.setOnLoadCallback(function () {
            angular.bootstrap(document.body, ['slickApp']);
        });
    </script>

    {% if development %}
        <script src="static/jstests.js"></script>
    {% endif %}
</head>
<body>
<span class="result-status-PASS" id="PASS-element"></span>
<span class="result-status-FAIL" id="FAIL-element"></span>
<span class="result-status-BROKENTEST" id="BROKENTEST-element"></span>
<span class="result-status-NORESULT" id="NORESULT-element"></span>
<span class="result-status-NOTTESTED" id="NOTTESTED-element"></span>
<span class="result-status-SKIPPED" id="SKIPPED-element"></span>
<span class="result-status-PASSEDONRETRY" id="PASSEDONRETRY-element"></span>

<!--[if IE]>
<script type="text/javascript"
        src="http://ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js"></script>

<style>
    .chromeFrameInstallDefaultStyle {
        width: 100%; /* default is 800px */
        border: 5px solid blue;
    }
</style>

<div id="prompt">
</div>

<script>
    // The conditional ensures that this code will only execute in IE,
    // Therefore we can use the IE-specific attachEvent without worry
    window.attachEvent("onload", function() {
        CFInstall.check({
            mode: "inline", // the default
            node: "prompt"
        });
    });
</script>
<![endif]-->

<div class="flex-layout-row-nowrap flex-container main" ng-controller="ParentCtrl" ng-cloak>
    <md-content flex>
            <div ng-include src="'static/resources/shared/main/nav.html'"></div>
        <md-subheader md-colors="{background: 'accent'}" ng-bind="nav.getTitle()" style="font-family: 'Audiowide', cursive; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; text-align: center; font-size: 20px; width: 100%; padding-top: 5px; padding-bottom: 5px; z-index: 10">Title of Page</md-subheader>
        <section class="main-container">
            <div class="main-view" ng-view></div>
        </section>
    </md-content>
</div>

</body>
</html>

