<!DOCTYPE html>
<html>
<head>
    <base href="{{base}}" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=IE9">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="static/favicon.ico" />
    <link rel="stylesheet" href="static/components/google-code-prettify/src/prettify.css" />
    <link rel="stylesheet" href="static/components/google-code-prettify/styles/sons-of-obsidian.css" />
    <link rel="stylesheet" href="static/components/kalendae/kalendae.css" />

    <!-- compiled stylesheet -->
    <link rel="stylesheet" href="style.css" />

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <!-- static files -->
    <script src="static/components/angular/angular{{min}}.js"></script>
    <script src="static/components/angular-route/angular-route{{min}}.js"></script>
    <script src="static/components/angular-resource/angular-resource{{min}}.js"></script>
    <script src="static/components/angular-animate/angular-animate{{min}}.js"></script>
    <script src="static/components/angular-cookies/angular-cookies{{min}}.js"></script>
    <script src="static/components/angular-sanitize/angular-sanitize{{min}}.js"></script>
    <script src="static/components/lodash/dist/lodash{{min}}.js"></script>
    <script src="static/components/restangular/dist/restangular{{min}}.js"></script>
    <script src="static/components/objectid/Objectid.js"></script>
    <script src="static/components/kalendae/kalendae.standalone.js"></script>
    <script src="static/components/google-code-prettify/src/prettify.js"></script>

    <script src="static/components/google-code-prettify/src/lang-yaml.js"></script>
    <script src="static/components/google-code-prettify/src/lang-css.js"></script>
    <script src="static/components/google-code-prettify/src/lang-dart.js"></script>
    <script src="static/components/google-code-prettify/src/lang-go.js"></script>
    <script src="static/components/google-code-prettify/src/lang-vb.js"></script>

    <!-- <link rel="stylesheet" href="static/components/animate.css/animate.css" /> -->

    {% if development %}
    <script src="static/components/jasmine/lib/jasmine-core/jasmine.js"></script>
    <script src="static/components/jasmine-jsreporter/jasmine-jsreporter.js"></script>
    <script src="static/components/jasmine-underscore/jasmine-underscore.js"></script>
    <script src="static/components/angular-mocks/angular-mocks.js"></script>
    {% endif %}

    <!-- compiled files -->
    <script src="scripts.js"></script>

    <script type="text/javascript">
        google.load("visualization", "1", {packages:["corechart"]});
        google.setOnLoadCallback(function() {
            angular.bootstrap(document.body, ['slickApp']);
        });
    </script>

    {% if development %}
    <script src="jstests.js"></script>
    {% endif %}
</head>
<body>
<span class="result-status-PASS" id="PASS-element"></span>
<span class="result-status-FAIL" id="FAIL-element"></span>
<span class="result-status-BROKENTEST" id="BROKENTEST-element"></span>
<span class="result-status-NORESULT" id="NORESULT-element"></span>
<span class="result-status-NOTTESTED" id="NOTTESTED-element"></span>
<span class="result-status-SKIPPED" id="SKIPPED-element"></span>
<span class="result-status-PASSEDONRETRY" id="PASSEDONRETRY-element"></span>
<header ng-controller="HeaderCtrl">
    <div class="inner-header">
        <div>
            <a href="#" class="sidenav-button-link" ng-click="showNav($event)"><img src="static/images/icon-menu.svg"/></a>
        </div>
        <h1 ng-bind="getTitle()">Title of Page</h1>
        <div class="loginbox">
            <a href="login" target="_self" ng-show="!user.email">Login</a>
            <span ng-show="user.email">
                Welcome {{ '{{' }} getAccountName() {{ '}}' }}<br />
                <a href="logout" ng-click="logout($event)">(Logout)</a>
            </span>
        </div>
    </div>
</header>
<!--[if IE]>
<script type="text/javascript"
        src="http://ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js"></script>

<style>
    .chromeFrameInstallDefaultStyle {
        width: 100%; /* default is 800px */
        border: 5px solid blue;
    }
</style>

<div id="prompt">
</div>

<script>
    // The conditional ensures that this code will only execute in IE,
    // Therefore we can use the IE-specific attachEvent without worry
    window.attachEvent("onload", function() {
        CFInstall.check({
            mode: "inline", // the default
            node: "prompt"
        });
    });
</script>
<![endif]-->

<div class="flex-layout-row-nowrap flex-container main" ng-controller="ParentCtrl">
    <section class="sidenav sidenav-{{ '{{' }} nav.mode() {{ '}}' }}" ng-show="nav.show()">
        <div ng-include src="'static/resources/shared/main/nav.html'"></div>
    </section>
    <section class="main-container">
        <div class="main-view" ng-view></div>
    </section>
</div>

</body>
</html>

