.testrungroups-list-column-container {
    .flex-container;
}

.testrungroups-list-name-column {
    .flex-grow-on;
    padding-left: .1in;
}

.testrungroups-list-overall-results-column {
    .flex-grow-off;
    width: 2in;
    padding-left: .1in;
}

.testrungroups-list-testrun-count-column {
    .flex-grow-off;
    width: 1in;
    padding-left: .1in;
}

.testrungroups-list-grouptype-column {
    .flex-grow-off;
    width: 1in;
    padding-left: .1in;
}

.testrungroups-list-created-column {
    .flex-grow-off;
    width: 2in;
    padding-left: .1in;
}

.testrungroups-list-row {
    padding-top: .05in;
    // border-bottom: 1px solid #FFFFFF;
    padding-bottom: .1in;
}

.testrungroups-list-row.ng-enter {
    .animated;
    .fadeInRightBig;
}

.testrungroups-list-row.ng-leave {
    .animated;
    .fadeOutRightBig;
}

.testrungroups-list-row:nth-child(even) {
    background: #222222;
}

.testrungroups-list-row:last-child {
    border-bottom: none;
}

.testrungroups-list-testrun-description {
    padding-left: .1in;
}


