<div class="slickview" ng-switch="testrungroup.grouptype">
    <div ng-switch-when="PARALLEL">
        <div class="testrungroup-chart-container">
            <div class="testrungroup-parallel-summary-chart-container">
                <h2>Overall Summary</h2>
                <div ng-if="buildRunTime">
                    <h3>{{ 'Run Time: ' + buildRunTime }}</h3>
                </div>
                <div ng-if="estimatedTimeRemaining">
                    <h3>{{ 'Time Remaining: ' + estimatedTimeRemaining }}</h3>
                </div>
                <google-pie-chart class="testrungroup-parallel-summary-chart" data="parallelSummaryData" options="summaryChartOptions"></google-pie-chart>
            </div>
            <div class="testrungroup-parallel-individual-chart-container">
                <h2>Individual Testruns</h2>
                <google-column-chart class="testrungroup-parallel-individual-chart" data="parallelIndividualData" options="individualChartOptions"></google-column-chart>
            </div>
        </div>
    </div>
    <div class="list-action-bar">
        <a class="button" ng-if="editbutton" href="{{editbutton.href}}">{{ editbutton.name }}</a>
    </div>
    <google-line-chart class="testrungroup-serial-chart" data="serialData" options="serialChartOptions" ng-switch-when="SERIAL"></google-line-chart>
    <div class="testrungroup-data-container">
        <slick-list-header model="testrunList" search="on" pagination="on" default-sort="dateCreated" default-page-size="50">
            <slick-list-columns class="testruns-list-column-container">
                <slick-list-column class="testrungroup-testruns-list-project-column" sort-property-name="project.name" sortable="true">Project</slick-list-column>
                <slick-list-column class="testruns-list-name-column" sort-property-name="name" sortable="true">Name</slick-list-column>
                <slick-list-column class="testruns-list-results-column" sortable="false">Results</slick-list-column>
                <slick-list-column class="testruns-list-environment-column" sort-property-name="config.name" sortable="true">Environment</slick-list-column>
                <slick-list-column class="testruns-list-build-column" sort-property-name="build.name" sortable="true">Build</slick-list-column>
                <slick-list-column class="testruns-list-created-column" sort-property-name="dateCreated" sortable="true">Created</slick-list-column>
            </slick-list-columns>
        </slick-list-header>
        <div class="testruns-list-row-container">
            <div ng-repeat="testrun in testrungroup.testruns | slickListFilter:testrunList track by testrun.id" class="testruns-list-row">
                <div class="testruns-list-column-container">
                    <div class="testrungroup-testruns-list-project-column"><a href="projects/{{ testrun.project.name }}" ng-bind="testrun.project.name"></a></div>
                    <div class="testruns-list-name-column"><a href="testruns/{{ testrun.id }}" ng-bind="testrun.name"></a></div>
                    <div class="testruns-list-results-column"><div class="testruns-list-results-container"><slick-testrun-stats testrun="testrun"></slick-testrun-stats><slick-testrun-statusbar summary="testrun.summary" size="normal"></slick-testrun-statusbar></div></div>
                    <div class="testruns-list-environment-column" ng-bind="testrun.config.name"></div>
                    <div class="testruns-list-build-column">{{testrun.release.name}} Build {{ testrun.build.name }}</div>
                    <div class="testruns-list-created-column" ng-bind="testrun.dateCreated | date:'medium'"></div>
                </div>
            </div>
        </div>
    </div>

</div>
