<div class="slick-side-selector">
    <div class="slick-side-selector-label-container">
        <span class="slick-side-selector-label" ng-bind="label"></span>:
        <span class="slick-side-selector-selected" ng-bind="model[display]"></span>
    </div>
    <div class="slick-side-selector-options-container" ng-show="selection">
        <span class="clickable-text slick-side-selector-option" ng-repeat="option in options" ng-bind="option[display]" ng-click="selectOption(option)"></span>
    </div>
    <div class="slick-side-selector-button-container" ng-hide="selection">
        <span class="button slick-side-selector-button" ng-click="showSelection()">select</span>
    </div>
</div>