<div class="slickview">
    <div class="landing-recent-info">
        <div class="landing-recent-info-image-box">
            <img src="static/images/recent-testruns.png" alt="recent testruns image" />
        </div>
        <div class="landing-recent-info-box">
            <div class="landing-recent-info-title">Recent Testruns</div>
            <div class="landing-recent-info-table-box">
                <div class="landing-recent-info-table1-box">
                    <slick-list-header model="testrunTableOne" search="off" pagination="off" sort="off">
                        <slick-list-columns class="landing-testrun-column-container">
                            <slick-list-column class="landing-testrun-project-column" sortable="false">Project</slick-list-column>
                            <slick-list-column class="landing-testrun-name-column" sortable="false">Testrun</slick-list-column>
                            <slick-list-column class="landing-testrun-build-column" sortable="false">Build</slick-list-column>
                            <slick-list-column class="landing-testrun-results-column" sortable="false">Results</slick-list-column>
                        </slick-list-columns>
                    </slick-list-header>
                    <div class="landing-testrun-column-container landing-testrun-row" ng-repeat="testrun in testrunListOne |slickListFilter:testrunTableOne track by testrun.id">
                        <div class="landing-testrun-project-column"><a href="projects/{{testrun.project.name}}" ng-bind="testrun.project.name"></a></div>
                        <div class="landing-testrun-name-column"><a href="testruns/{{testrun.id}}" ng-bind="testrun.name"></a></div>
                        <div class="landing-testrun-build-column">{{testrun.release.name}} Build {{testrun.build.name}}</div>
                        <div class="landing-testrun-results-column"><slick-testrun-statusbar summary="testrun.summary" size="normal"></slick-testrun-statusbar></div>
                    </div>
                </div>
                <div class="landing-recent-info-table2-box">
                    <slick-list-header model="testrunTableTwo" search="off" pagination="off" sort="off">
                        <slick-list-columns class="landing-testrun-column-container">
                            <slick-list-column class="landing-testrun-project-column" sortable="false">Project</slick-list-column>
                            <slick-list-column class="landing-testrun-name-column" sortable="false">Testrun</slick-list-column>
                            <slick-list-column class="landing-testrun-build-column" sortable="false">Build</slick-list-column>
                            <slick-list-column class="landing-testrun-results-column" sortable="false">Results</slick-list-column>
                        </slick-list-columns>
                    </slick-list-header>
                    <div class="landing-testrun-column-container landing-testrun-row" ng-repeat="testrun in testrunListTwo |slickListFilter:testrunTableTwo track by testrun.id">
                        <div class="landing-testrun-project-column"><a href="projects/{{testrun.project.name}}" ng-bind="testrun.project.name"></a></div>
                        <div class="landing-testrun-name-column"><a href="testruns/{{testrun.id}}" ng-bind="testrun.name"></a></div>
                        <div class="landing-testrun-build-column">{{testrun.release.name}} Build {{testrun.build.name}}</div>
                        <div class="landing-testrun-results-column"><slick-testrun-statusbar summary="testrun.summary" size="normal"></slick-testrun-statusbar></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="landing-recent-info">
        <div class="landing-recent-info-image-box">
            <img src="static/images/recent-builds.png" alt="recent builds image" />
        </div>
        <div class="landing-recent-info-box">
            <div class="landing-recent-info-title">Recent Builds</div>
            <div class="landing-recent-info-table-box">
                <div class="landing-recent-info-table1-box">
                    <slick-list-header model="buildTableOne" search="off" pagination="off" sort="off">
                        <slick-list-columns class="landing-build-column-container">
                            <slick-list-column class="landing-build-project-column" sortable="false">Project</slick-list-column>
                            <slick-list-column class="landing-build-build-column" sortable="false">Build</slick-list-column>
                            <slick-list-column class="landing-build-testruns-column" sortable="false">Testruns</slick-list-column>
                            <slick-list-column class="landing-build-results-column" sortable="false">Results</slick-list-column>
                        </slick-list-columns>
                    </slick-list-header>
                    <div class="landing-build-column-container landing-build-row" ng-repeat="build in buildListOne |slickListFilter:buildTableOne track by build.id">
                        <div class="landing-build-project-column"><a href="projects/{{build.project.name}}" ng-bind="build.project.name"></a></div>
                        <div class="landing-build-build-column"><a href="build-report/{{build.project.name}}/{{build.release.name}}/{{build.build.name}}">{{build.release.name}} Build {{build.build.name}}</a></div>
                        <div class="landing-build-testruns-column"><div ng-if="build.report" ng-bind="build.report.testruns.length"></div></div>
                        <div class="landing-build-results-column"><div ng-if="build.report.groupSummary"><slick-testrun-statusbar summary="build.report.groupSummary" size="normal"></slick-testrun-statusbar></div></div>
                    </div>
                </div>
                <div class="landing-recent-info-table2-box">
                    <slick-list-header model="buildTableTwo" search="off" pagination="off" sort="off">
                        <slick-list-columns class="landing-build-column-container">
                            <slick-list-column class="landing-build-project-column" sortable="false">Project</slick-list-column>
                            <slick-list-column class="landing-build-build-column" sortable="false">Build</slick-list-column>
                            <slick-list-column class="landing-build-testruns-column" sortable="false">Testruns</slick-list-column>
                            <slick-list-column class="landing-build-results-column" sortable="false">Results</slick-list-column>
                        </slick-list-columns>
                    </slick-list-header>
                    <div class="landing-build-column-container landing-build-row" ng-repeat="build in buildListTwo |slickListFilter:buildTableTwo track by build.id">
                        <div class="landing-build-project-column"><a href="projects/{{build.project.name}}" ng-bind="build.project.name"></a></div>
                        <div class="landing-build-build-column"><a href="build-report/{{build.project.name}}/{{build.release.name}}/{{build.build.name}}">{{build.release.name}} Build {{build.build.name}}</a></div>
                        <div class="landing-build-testruns-column"><div ng-if="build.report" ng-bind="build.report.testruns.length"></div></div>
                        <div class="landing-build-results-column"><div ng-if="build.report.groupSummary"><slick-testrun-statusbar summary="build.report.groupSummary" size="normal"></slick-testrun-statusbar></div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="landing-recent-info">
        <div class="landing-recent-info-image-box">
            <img src="static/images/recent-testrun-groups.png" alt="recent testrun groups image" />
        </div>
        <div class="landing-recent-info-box">
            <div class="landing-recent-info-title">Recent Testrun Groups</div>
            <div class="landing-recent-info-table-box">
                <div class="landing-recent-info-table1-box" ng-show="testrungroupListOne.length > 0">
                    <slick-list-header model="testrungroupTableOne" search="off" pagination="off" sort="off">
                        <slick-list-columns class="landing-testrungroup-column-container">
                            <slick-list-column class="landing-testrungroup-name-column" sortable="false">Name</slick-list-column>
                            <slick-list-column class="landing-testrungroup-testruns-column" sortable="false">Testruns</slick-list-column>
                            <slick-list-column class="landing-testrungroup-results-column" sortable="false">Results</slick-list-column>
                        </slick-list-columns>
                    </slick-list-header>
                    <div class="landing-testrungroup-column-container landing-testrungroup-row" ng-repeat="testrungroup in testrungroupListOne |slickListFilter:testrungroupTableOne track by testrungroup.id">
                        <div class="landing-testrungroup-name-column"><a href="testrungroup/{{testrungroup.id}}" ng-bind="testrungroup.name"></a></div>
                        <div class="landing-testrungroup-testruns-column" ng-bind="testrungroup.testruns.length"></div>
                        <div class="landing-testrungroup-results-column"><slick-testrun-statusbar summary="testrungroup.groupSummary" size="normal"></slick-testrun-statusbar></div>
                    </div>
                </div>
                <div class="landing-recent-info-table2-box">
                    <slick-list-header model="testrungroupTableTwo" search="off" pagination="off" sort="off" ng-show="testrungroupListTwo.length > 0">
                        <slick-list-columns class="landing-testrungroup-column-container">
                            <slick-list-column class="landing-testrungroup-name-column" sortable="false">Name</slick-list-column>
                            <slick-list-column class="landing-testrungroup-testruns-column" sortable="false">Testruns</slick-list-column>
                            <slick-list-column class="landing-testrungroup-results-column" sortable="false">Results</slick-list-column>
                        </slick-list-columns>
                    </slick-list-header>
                    <div class="landing-testrungroup-column-container landing-testrungroup-row" ng-repeat="testrungroup in testrungroupListTwo |slickListFilter:testrungroupTableTwo track by testrungroup.id">
                        <div class="landing-testrungroup-name-column"><a href="testrungroup/{{testrungroup.id}}" ng-bind="testrungroup.name"></a></div>
                        <div class="landing-testrungroup-testruns-column" ng-bind="testrungroup.testruns.length"></div>
                        <div class="landing-testrungroup-results-column"><slick-testrun-statusbar summary="testrungroup.groupSummary" size="normal"></slick-testrun-statusbar></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
