<div class="slickview">
    <md-content style="width: 100%">
        <md-tabs md-dynamic-height md-border-bottom md-stretch-tabs="yes" md-selected="selectedIndex">
            <md-tab md-on-select="onTabSelected('Builds')">
                <md-tab-label>
                    <md-icon class="material-icons">view_list</md-icon>
                    <md-tooltip>Recent Builds</md-tooltip>
                </md-tab-label>
                <md-tab-body>
                    <md-toolbar layout="row" class="md-accent">
                        <md-toolbar-filler layout layout-align="center center">
                            <md-icon class="material-icons" style="margin-right: 20px">view_list</md-icon>
                        </md-toolbar-filler>
                        <div class="md-toolbar-tools">
                            <span style="font-family: 'Audiowide', cursive;">Builds</span>
                            <div flex="" class="flex"></div>
                            <md-input-container>
                                <label>Limit</label>
                                <md-select ng-model="buildsQuery.queryLimit">
                                    <md-option ng-repeat="limitItem in limits" ng-value="limitItem" ng-selected="limitItem === buildsQuery.queryLimit">{{ limitItem }}</md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container>
                                <label>Project</label>
                                <md-select ng-model="project">
                                    <md-option ng-value="'All'" ng-selected="project === 'All'" ng-click="fetchBuildsData()">All</md-option>
                                    <md-option ng-repeat="projectItem in projects | orderBy: 'name' | unique: 'name' track by $index" ng-value="projectItem.name" ng-selected="projectItem.name === project" ng-click="fetchBuildsData()">{{ projectItem.name }}</md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                    </md-toolbar>
                    <md-progress-linear ng-show="buildListOne.length === 0"></md-progress-linear>
                    <md-content ng-show="buildListOne.length !== 0">
                        <md-table-container>
                            <table md-table>
                                <thead md-head md-order="buildsQuery.order" md-on-reorder="setBuildsSort">
                                <tr md-row>
                                    <th md-column md-order-by="report.state" style="text-align: center">Status</th>
                                    <th md-column md-order-by="project.name">Project</th>
                                    <th md-column md-order-by="build.name">Build</th>
                                    <th md-column md-numerical md-order-by="report.testruns.length">Testruns</th>
                                    <th md-column>Results</th>
                                    <th md-column md-numerical md-order-by="report.testruns[0].dateCreated">Created</th>
                                    <th md-column md-numerical md-order-by="report.testruns[0].runFinished - report.testruns[0].dateCreated">Duration</th>
                                </tr>
                                </thead>
                                <tbody md-body>
                                <tr md-row md-select="report.state" md-auto-select ng-repeat="build in buildListOne | filter: filter.search | orderBy: buildsQuery.order | limitTo: buildsQuery.limit : (buildsQuery.page -1) * buildsQuery.limit track by $index" md-colors="$index % 2 === 0 ? {background: 'background-hue-1'} : ''">
                                    <td md-cell style="text-align: center">
                                        <md-icon ng-show="build.report.state === 'FINISHED'" class="material-icons" style="color: #008000">check_circle</md-icon>
                                        <i ng-show="build.report.state !== 'FINISHED'" class="pulse"></i>
                                    </td>
                                    <td md-cell>
                                        <a href="projects/{{ build.project.name }}" ng-bind="build.project.name"></a>
                                    </td>
                                    <td md-cell>
                                        <a href="build-report/{{ build.project.name }}/{{ build.release.name }}/{{ build.build.name }}">{{ build.release.name ? build.release.name + ' Build ' + build.build.name : build.release.id + ' Build ' + build.build.id }}</a>
                                    </td>
                                    <td md-cell ng-if="build.report" ng-bind="build.report.testruns.length"></td>
                                    <td md-cell ng-if="build.report.groupSummary">
                                        <slick-testrun-statusbar summary="build.report.groupSummary" size="normal"></slick-testrun-statusbar>
                                    </td>
                                    <td md-cell>
                                        <span>{{ build.report.testruns[0].dateCreated | date:'medium' }}</span>
                                    </td>
                                    <td md-cell>
                                        <span ng-if="build.report.state === 'FINISHED'">{{ getDurationString(build.report.testruns[0].runFinished - build.report.testruns[0].dateCreated, true) }}</span>
                                        <span ng-if="build.report.state !== 'FINISHED'">{{ getDurationString(currentTimeMillis - build.report.testruns[0].dateCreated, true) }}</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </md-table-container>
                        <md-table-pagination md-limit="buildsQuery.limit" md-limit-options="limits" md-page="buildsQuery.page" md-total="{{ buildListOne.length }}" md-page-select="true" md-boundary-links="true"></md-table-pagination>
                    </md-content>
                </md-tab-body>
            </md-tab>
            <md-tab md-on-select="onTabSelected('Testruns')">
                <md-tab-label>
                    <md-icon class="material-icons">assessment</md-icon>
                    <md-tooltip>Recent Testruns</md-tooltip>
                </md-tab-label>
                <md-tab-body>
                    <md-toolbar layout="row" class="md-accent">
                        <md-toolbar-filler layout layout-align="center center">
                            <md-icon class="material-icons" style="margin-right: 20px">assessment</md-icon>
                        </md-toolbar-filler>
                        <div class="md-toolbar-tools">
                            <span style="font-family: 'Audiowide', cursive;">Testruns</span>
                            <div flex="" class="flex"></div>
                            <md-input-container>
                                <label>Limit</label>
                                <md-select ng-model="testrunsQuery.queryLimit">
                                    <md-option ng-repeat="limitItem in limits" ng-value="limitItem" ng-selected="limitItem === testrunsQuery.queryLimit">{{ limitItem }}</md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container>
                                <label>Project</label>
                                <md-select ng-model="project">
                                    <md-option ng-value="'All'" ng-selected="project === 'All'" ng-click="fetchData()">All</md-option>
                                    <md-option ng-repeat="projectItem in projects | orderBy: 'name' | unique: 'name' track by $index" ng-value="projectItem.name" ng-selected="projectItem.name === project" ng-click="fetchData()">{{ projectItem.name }}</md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                    </md-toolbar>
                    <md-progress-linear ng-show="testrunListOne.length === 0"></md-progress-linear>
                    <md-content ng-show="testrunListOne.length !== 0">
                        <md-table-container>
                            <table md-table ng-model="selected" md-progress="promise">
                                <thead md-head md-order="testrunsQuery.order" md-on-reorder="setTestrunsSort">
                                <tr md-row>
                                    <th md-column md-order-by="state" style="text-align: center">Status</th>
                                    <th md-column md-order-by="project.name">Project</th>
                                    <th md-column md-order-by="name">Testrun</th>
                                    <th md-column md-order-by="build.name">Build</th>
                                    <th md-column>Results</th>
                                    <th md-column md-numerical md-order-by="dateCreated">Created</th>
                                    <th md-column md-numerical md-order-by="runlength">Duration</th>
                                </tr>
                                </thead>
                                <tbody md-body>
                                <tr md-row md-select="testrun" md-select-id="name" md-auto-select ng-repeat="testrun in testrunListOne | filter: filter.search | orderBy: testrunsQuery.order | limitTo: testrunsQuery.limit : (testrunsQuery.page -1) * testrunsQuery.limit track by testrun.id" md-colors="$index % 2 === 0 ? {background: 'background-hue-1'} : ''">
                                    <td md-cell style="text-align: center">
                                        <md-icon ng-if="testrun.state === 'FINISHED'" class="material-icons" style="color: #008000">check_circle</md-icon>
                                        <i ng-if="testrun.state !== 'FINISHED'" class="pulse"></i>
                                    </td>
                                    <td md-cell>
                                        <a href="projects/{{ testrun.project.name }}" ng-bind="testrun.project.name"></a>
                                    </td>
                                    <td md-cell>
                                        <a href="testruns/{{ testrun.id }}" ng-bind="testrun.name"></a>
                                    </td>
                                    <td md-cell>
                                        <a href="build-report/{{ testrun.project.name }}/{{ testrun.release.name }}/{{ testrun.build.name }}">{{ testrun.release.name }} Build {{ testrun.build.name }}</a>
                                    </td>
                                    <td md-cell>
                                        <slick-testrun-statusbar summary="testrun.summary" size="normal"></slick-testrun-statusbar>
                                    </td>
                                    <td md-cell>
                                        <span>{{ testrun.dateCreated | date:'medium' }}</span>
                                    </td>
                                    <td md-cell>
                                        <span ng-if="testrun.state === 'FINISHED'">{{ getDurationString(testrun.runFinished - testrun.runStarted, true) }}</span>
                                        <span ng-if="testrun.state !== 'FINISHED'">{{ getDurationString(currentTimeMillis - testrun.runStarted, true) }}</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </md-table-container>
                        <md-table-pagination md-limit="testrunsQuery.limit" md-limit-options="limits" md-page="testrunsQuery.page" md-total="{{ testrunListOne.length }}" md-page-select="true" md-boundary-links="true"></md-table-pagination>
                    </md-content>
                </md-tab-body>
            </md-tab>
            <md-tab md-on-select="onTabSelected('TestrunGroups')">
                <md-tab-label>
                    <md-icon class="material-icons">playlist_add_check</md-icon>
                    <md-tooltip>Recent Testrun Groups</md-tooltip>
                </md-tab-label>
                <md-tab-body>
                    <md-toolbar layout="row" class="md-accent">
                        <md-toolbar-filler layout layout-align="center center">
                            <md-icon class="material-icons" style="margin-right: 20px">playlist_add_check</md-icon>
                        </md-toolbar-filler>
                        <div class="md-toolbar-tools">
                            <span style="font-family: 'Audiowide', cursive;">Testrun Groups</span>
                            <div flex="" class="flex"></div>
                            <md-input-container>
                                <label>Limit</label>
                                <md-select ng-model="testrunGroupsQuery.queryLimit">
                                    <md-option ng-repeat="limitItem in limits" ng-value="limitItem" ng-selected="limitItem === testrunGroupsQuery.queryLimit">{{ limitItem }}</md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container>
                                <label>Project</label>
                                <md-select ng-model="project">
                                    <md-option ng-value="'All'" ng-selected="project === 'All'" ng-click="fetchData()">All</md-option>
                                    <md-option ng-repeat="projectItem in projects | orderBy: 'name' | unique: 'name' track by $index" ng-value="projectItem.name" ng-selected="projectItem.name === project" ng-click="fetchData()">{{ projectItem.name }}</md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                    </md-toolbar>
                    <md-progress-linear ng-show="testrungroupListOne.length === 0"></md-progress-linear>
                    <md-content ng-show="testrungroupListOne.length !== 0">
                        <md-table-container>
                            <table md-table ng-model="selected" md-progress="promise">
                                <thead md-head md-order="testrunGroupsQuery.order" md-on-reorder="setTestrunGroupsSort">
                                <tr md-row>
                                    <th md-column md-order-by="state" style="text-align: center">Status</th>
                                    <th md-column md-order-by="name">Name</th>
                                    <th md-column md-numerical md-order-by="testruns.length">Testruns</th>
                                    <th md-column>Results</th>
                                    <th md-column md-numerical md-order-by="created">Created</th>
                                    <th md-column>Duration</th>
                                </tr>
                                </thead>
                                <tbody md-body>
                                <tr md-row md-select="testrungroup" md-select-id="name" md-auto-select ng-repeat="testrungroup in testrungroupListOne | filter: filter.search | orderBy: testrunGroupsQuery.order | limitTo: testrunGroupsQuery.limit : (testrunGroupsQuery.page -1) * testrunGroupsQuery.limit track by testrungroup.id" md-colors="$index % 2 === 0 ? {background: 'background-hue-1'} : ''">
                                    <td md-cell style="text-align: center">
                                        <md-icon ng-if="testrungroup.state === 'FINISHED'" class="material-icons" style="color: #008000">check_circle</md-icon>
                                        <i ng-if="testrungroup.state !== 'FINISHED'" class="pulse"></i>
                                    </td>
                                    <td md-cell>
                                        <a href="testrungroup/{{ testrungroup.id }}" ng-bind="testrungroup.name"></a>
                                    </td>
                                    <td md-cell ng-bind="testrungroup.testruns.length"></td>
                                    <td md-cell>
                                        <slick-testrun-statusbar summary="testrungroup.groupSummary" size="normal"></slick-testrun-statusbar>
                                    </td>
                                    <td md-cell>
                                        <span>{{ testrungroup.created | date:'medium' }}</span>
                                    </td>
                                    <td md-cell>
                                        <span ng-if="testrungroup.state === 'FINISHED'">{{ getDurationString(testrungroup.testruns[0].runFinished - testrungroup.testruns[0].dateCreated, true) }}</span>
                                        <span ng-if="testrungroup.state !== 'FINISHED'">{{ getDurationString(currentTimeMillis - testrungroup.testruns[0].dateCreated, true) }}</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </md-table-container>
                        <md-table-pagination md-limit="testrunGroupsQuery.limit" md-limit-options="limits" md-page="testrunGroupsQuery.page" md-total="{{ testrungroupListOne.length }}" md-page-select="true" md-boundary-links="true"></md-table-pagination>
                    </md-content>
                </md-tab-body>
            </md-tab>
            <md-tab md-on-select="onTabSelected('Statistics')">
                <md-tab-label>
                    <md-icon class="material-icons">trending_up</md-icon>
                    <md-tooltip>Statistics</md-tooltip>
                </md-tab-label>
                <md-tab-body>
                    <md-toolbar layout="row" class="md-accent">
                        <md-toolbar-filler layout layout-align="center center">
                            <md-icon class="material-icons" style="margin-right: 20px">trending_up</md-icon>
                        </md-toolbar-filler>
                        <div class="md-toolbar-tools">
                            <span style="font-family: 'Audiowide', cursive;">Statistics</span>
                            <div flex="" class="flex"></div>
                        </div>
                    </md-toolbar>
                    <md-progress-linear ng-show="statsForProjects.length === 0"></md-progress-linear>
                    <md-tab-body ng-show="statsForProjects.length !== 0">
                        <md-tabs>
                            <md-tab ng-repeat="stat in statsForProjects | orderBy: 'title' track by $index">
                                <md-tab-label>
                                    <span>{{ stat.title }}</span>
                                </md-tab-label>
                                <md-tab-body>
                                    <fieldset class="standard" ng-show="healthDataByProject[stat.title].Mf.length > 1">
                                        <legend>{{ stat.title }} {{ stat.activeRelease }}</legend>
                                        <md-content layout="row">
                                            <md-progress-linear ng-show="healthDataByProject[stat.title].Mf.length === 1"></md-progress-linear>
                                            <google-line-chart style="width: 100%" ng-show="healthDataByProject[stat.title].Mf.length > 1" class="testrungroup-serial-chart" data="healthDataByProject[stat.title]" options="healthReportOptionsByProject[stat.title]"></google-line-chart>
                                            <md-content layout="column">
                                                <md-input-container>
                                                    <label>Limit</label>
                                                    <md-select ng-model="buildsQuery.queryLimit">
                                                        <md-option ng-repeat="limitItem in limits" ng-value="limitItem" ng-selected="limitItem === buildsQuery.queryLimit">{{ limitItem }}</md-option>
                                                    </md-select>
                                                </md-input-container>
                                                <md-input-container>
                                                    <label>Release</label>
                                                    <md-select ng-model="stat.activeRelease">
                                                        <md-option ng-if="isObject(release)" ng-repeat="release in objToValues(stat)" ng-value="release.title" ng-selected="release.title === stat.activeRelease">{{ release.title }}</md-option>
                                                    </md-select>
                                                </md-input-container>
                                                <md-card>
                                                    <md-card-header>
                                                    <md-card-header-text>
                                                        <span class="md-title">Averages</span>
                                                    </md-card-header-text>
                                                </md-card-header>
                                                <md-divider></md-divider>
                                                <md-card-content align="center">
                                                    <div layout="column">
                                                        <div layout="row" style="align-items: center" ng-if="isObject(status)" ng-repeat="status in objToValues(stat[stat.activeRelease]['30']) | orderBy: '-count' track by $index">
                                                            <span class="result-status-{{ replaceOnStatus(status._id.status, '') }}" style="font-size: 20px">{{ replaceOnStatus(status._id.status, ' ') }}</span>
                                                            <div flex></div>
                                                            <span style="margin-left: 10px">{{ ((status.count / stat[stat.activeRelease]['30'].total) * 100).toFixed(2) }}%</span>
                                                        </div>
                                                    </div>
                                                </md-card-content>
                                                </md-card>
                                            </md-content>
                                        </md-content>
                                    </fieldset>
                                    <fieldset class="standard" ng-if="testcasesByProject[stat.title]">
                                        <legend>Recently Automated Tests</legend>
                                        <md-content layout="row">
                                            <md-card ng-repeat="(key, value) in testcasesByProject[stat.title]">
                                                <md-card-header>
                                                    <md-card-header-text>
                                                        <span class="md-title">{{ value.title }}</span>
                                                    </md-card-header-text>
                                                </md-card-header>
                                                <md-divider></md-divider>
                                                <md-card-content align="center">
                                                    <span style="font-size: 20px">{{ value.count.count || "None" }}</span>
                                                </md-card-content>
                                            </md-card>
                                        </md-content>
                                    </fieldset>
                                    <fieldset class="standard">
                                        <legend>Total Executions</legend>
                                        <md-content layout="row">
                                            <md-card>
                                                <md-card-header>
                                                    <md-card-header-text>
                                                        <span class="md-title">{{ stat[stat.activeRelease].running.title }}</span>
                                                    </md-card-header-text>
                                                </md-card-header>
                                                <md-divider></md-divider>
                                                <md-card-content align="center">
                                                    <span style="font-size: 20px">{{ stat[stat.activeRelease].running.count || "None" }}</span>
                                                </md-card-content>
                                            </md-card>
                                            <md-card ng-repeat="(key, value) in stat[stat.activeRelease]" ng-show="key !== 'running' && isObject(value)">
                                                <md-card-header>
                                                    <md-card-header-text>
                                                        <span class="md-title">{{ value.title }}</span>
                                                    </md-card-header-text>
                                                </md-card-header>
                                                <md-divider></md-divider>
                                                <md-card-content align="center">
                                                    <span style="font-size: 20px">{{ value.total || "None" }}</span>
                                                </md-card-content>
                                            </md-card>
                                        </md-content>
                                    </fieldset>
                                    <fieldset class="standard">
                                        <legend>Succes Rate</legend>
                                        <md-content layout="row">
                                            <md-card ng-repeat="(key, value) in stat[stat.activeRelease]" ng-show="key !== 'running' && isObject(value)">
                                                <md-card-header>
                                                    <md-card-header-text>
                                                        <span class="md-title">{{ value.title }}</span>
                                                    </md-card-header-text>
                                                </md-card-header>
                                                <md-divider></md-divider>
                                                <md-card-content>
                                                    <div layout="column">
                                                        <div layout="row" style="align-items: center" ng-repeat="status in objToValues(value) | orderBy: '-count' track by $index" ng-show="status._id.status">
                                                            <span class="result-status-{{ replaceOnStatus(status._id.status, '') }}" style="font-size: 20px">{{ replaceOnStatus(status._id.status, ' ') }}</span>
                                                            <div flex></div>
                                                            <span style="margin-left: 10px">{{ status.count }}</span>
                                                        </div>
                                                    </div>
                                                </md-card-content>
                                            </md-card>
                                        </md-content>
                                    </fieldset>
                                </md-tab-body>
                            </md-tab>
                        </md-tabs>
                    </md-tab-body>
                </md-tab-body>
            </md-tab>
            <md-tab ng-show="environment.iframeConfig" ng-repeat="iframe in environment.iframeConfig" md-on-select="onTabSelected($index + 4)">
                <md-tab-label>
                    <md-icon class="material-icons">{{ iframe.icon }}</md-icon>
                    <md-tooltip>{{ iframe.title }}</md-tooltip>
                </md-tab-label>
                <md-tab-body>
                    <md-toolbar layout="row" class="md-accent">
                        <md-toolbar-filler layout layout-align="center center">
                            <md-icon class="material-icons" style="margin-right: 20px">{{ iframe.icon }}</md-icon>
                        </md-toolbar-filler>
                        <div class="md-toolbar-tools">
                            <span style="font-family: 'Audiowide', cursive;">{{ iframe.title }}</span>
                            <div flex="" class="flex"></div>
                        </div>
                    </md-toolbar>
                    <iframe ng-if="isTabSelected($index + 4)" ng-src="{{ iframe.url }}" style="width: {{ iframe.width }}; height: {{ iframe.height }}"></iframe>
                </md-tab-body>
            </md-tab>
        </md-tabs>
    </md-content>
</div>
