<div>
    <div ng-show="show" class="slick-dialog-shade-parent"><div class="slick-dialog-shade"></div></div>
    <div class="slick-dialog slick-dialog-{{ size }}" ng-show="show">
        <div class="slick-dialog-title"><h2 ng-bind="title"></h2></div>
        <div class="slick-dialog-body" ng-transclude></div>
        <div class="slick-dialog-button-row">
            <div ng-repeat="buttonName in buttonNames" class="slick-dialog-button" ng-click="buttonCallback({buttonName: buttonName})" ng-bind="buttonName"></div>
        </div>
    </div>
</div>