<div class="slickview" xmlns="http://www.w3.org/1999/html">
    <form name="testcaseQuery">
        <div class="testcase-query-box">
            <div class="testcase-query-box-row">
                <div class="testcase-query-form-select">
                    <input type="radio" ng-model="mode" value="form">
                </div>
                <div class="testcase-query-form-body">
                    <div class="testcase-query-box-row">
                        <md-input-container class="testcase-query-form-element">
                            <label>Project</label>
                            <md-select ng-disabled="mode!='form'" ng-model="project">
                                <md-option ng-repeat="p in projects" ng-value="p.name">{{ p.name }}</md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="testcase-query-form-element">
                            <label>Component</label>
                            <md-select ng-disabled="mode!='form'" ng-model="component">
                                <md-option ng-repeat="c in project.components" ng-value="c.name">{{ c.name }}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div class="testcase-query-box-row">
                        <md-input-container class="testcase-query-form-element">
                            <label>Name</label>
                            <input ng-disabled="mode!='form'" type="text" ng-model="queryForm.name">
                        </md-input-container>
                        <md-input-container class="testcase-query-form-element">
                            <label>Tags</label>
                            <input ng-disabled="mode!='form'" type="text" ng-model="queryForm.tags">
                        </md-input-container>
                    </div>
                    <div class="testcase-query-box-row">
                        <md-input-container class="testcase-query-form-element">
                            <label>Purpose</label>
                            <input ng-disabled="mode!='form'" type="text" ng-model="queryForm.purpose">
                        </md-input-container>
                    </div>
                </div>
            </div>
            <div class="testcase-query-box-row">
                <div class="testcase-query-form-select">
                    <input type="radio" ng-model="mode" value="query">
                </div>
                <div class=testcase-query-form-body>
                    <div class="testcase-query-box-row">
                        <md-input-container class="testcase-query-form-element" ng-show="mode === 'form'">
                            <label>Query</label>
                            <input class="testcase-query-box-query" ng-disabled="true" ng-bind="query">
                        </md-input-container>
                        <md-input-container class="testcase-query-form-element" ng-show="mode ==='query'">
                            <label>Query</label>
                            <input class="testcase-query-box-query" ng-model="query">
                        </md-input-container>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="testcase-query-execute" ng-show="testcaseQuery.$dirty">
        <md-button class="md-raised md-primary" ng-click="executeQuery()">Execute Query</md-button>
    </div>

    <slick-list-header model="testcaseList" search="off" pagination="on" default-sort="name">
        <slick-list-columns class="testcase-list-column-container">
            <slick-list-column class="testcase-list-name-column" sort-property-name="name" sortable="true">Name</slick-list-column>
            <slick-list-column class="testcase-list-component-column" sort-property-name="lastUpdated" sortable="true">Component</slick-list-column>
            <slick-list-column class="testcase-list-tags-column" sortable="false">Tags</slick-list-column>
        </slick-list-columns>
    </slick-list-header>

    <div class="testcase-list-row-container">
        <div ng-repeat="testcase in queryResult | slickListFilter:testcaseList" class="testcase-list-row">
            <div class="testcase-list-column-container">
                <div class="testcase-list-name-column"><a href="testcases/{{ testcase.id }}" ng-bind="testcase.name"></a></div>
                <div class="testcase-list-component-column" ng-bind="testcase.component.name"></div>
                <div class="testcase-list-tags-column">
                    <slick-tag-list editable="false" model="testcase.tags"></slick-tag-list>
                </div>
            </div>
            <div class="testcase-list-testcase-purpose" ng-bind-html="testcase.purpose">Test Purpose</div>
        </div>
    </div>
</div>
