.testcase-list-column-container {
  .flex-container;
}

.testcase-list-name-column {
  .flex-grow-off;
  width: 50%;
  padding-left: .1in;
}

.testcase-list-component-column {
  .flex-grow-off;
  width: 25%;
  padding-left: .1in;
}

.testcase-list-tags-column {
  width: 25%;
  padding-left: .1in;
}

.testcase-list-row {
  padding-top: .05in;
  // border-bottom: 1px solid #FFFFFF;
  padding-bottom: .05in;
}

.testcase-list-row.ng-enter {
  .animated;
  .fadeInRightBig;
}

.testcase-list-row.ng-leave {
  .animated;
  .fadeOutRightBig;
}

.testcase-list-row:nth-child(even) {
  background: #222222;
}

.testcase-list-row:last-child {
  border-bottom: none;
}

.testcase-list-testcase-purpose {
  padding-left: .1in;
}

.testcase-query-box-row {
  .flex-container;
}

.testcase-query-label {
  width: 10%;
}

.testcase-query-form-element {
  width: 40%;
  margin-left: 20px;
}

.testcase-query-box-query {
  .flex-grow-on;
}

.testcase-query-execute {
  padding-top: .1in;
  padding-bottom: .1in;
}

.testcase-query-form-select {
  width: .5in;
  .flex-grow-off;
}

.testcase-query-form-body {
  .flex-grow-on;
}

.testcase-query-execute.ng-hide-add {
  .animated;
  .bounceOutLeft;
}

.testcase-query-execute.ng-hide-remove {
  .flex-container-important;
  .animated;
  .bounceInLeft;
}


// ---------- testcase tree section (browse testcases) -------------
.testcase-tree {
  .flex-container;
}

.testcase-tree-project-list {
  width: 3in;
  .rounded-right-corners(5px);
  border-top: 1px solid #777777;
  border-right: 1px solid #777777;
  border-bottom: 1px solid #777777;
}

.testcase-tree-project {
  color: #777777;
  .clickable-text;
}

.testcase-tree-project-selected {
  color: #ffffff;
}

.testcase-tree-component-list {
  .flex-grow-on;
  margin-left: .1in;
}

.testcase-tree-component-label {
  .flex-container;
}

.testcase-tree-component-label div {
  margin-right: .1in;
  font-size: 1.5em;
}

.testcase-tree-feature-label div {
  font-size: 1.25em;
  color: #ffffff;
}

.testcase-tree-component-label hr {
  .flex-grow-on;
  height: 0px;
}

.testcase-tree-list-column-container {
  .flex-container;
}

.testcase-tree-list-name-column {
  width: 50%;
  padding-left: .1in;
}

.testcase-tree-tests-container {
  .flex-container;
}

.testcase-tree-tests-half {
  width: 50%;
}

.testcase-tree-tests-row {
  .flex-container;
}

.testcase-tree-tests-row-name-column {
  width: 100%;
  padding-left: .1in;
}

.testcase-tree-feature-image {
  width: 2in;
}

.testcase-tree-feature-image img {
  width: 1.9in;
}

.testcase-tree-feature {
  margin-top: .1in;
  magin-bottom: .1in;
  .flex-container;
}

.testcase-tree-feature-tests {
  .flex-grow-on;
}

.testcase-tree-component {
  margin-bottom: .1in;
}
