<div class="slickview">
    <slick-dialog title="Add Step" size="small" show="showAddStep" buttons="Add|Cancel" button-callback="addStepDialogButtonClicked(buttonName)">
        <div class="data-view">
            <div class="data-view-item">
                <div class="data-view-property-name">Step</div>
                <div class="data-view-property-value"><input type="text" ng-model="step.name" class="add-step-input-box"/></div>
            </div>
            <div class="data-view-item">
                <div class="data-view-property-name">Expected Result</div>
                <div class="data-view-property-value"><input type="text" ng-model="step.expectedResult" class="add-step-input-box"/></div>
            </div>
        </div>
    </slick-dialog>

    <form name="testcaseForm">
        <div class="data-view">
            <div class="data-view-item">
                <div class="data-view-property-name">Purpose</div>
                <div class="data-view-property-value" ng-model="testcase.purpose" name="purpose" contenteditable="true"></div>
            </div>
        </div>
        <div class="data-view">
            <div class="data-view-item">
                <div class="data-view-property-name">Automation ID</div>
                <div class="data-view-property-value" ng-model="testcase.automationId" name="automationId" contenteditable="true"></div>
            </div>
        </div>
        <div class="data-view-item">
            <div class="data-view-property-name">Tags</div>
            <div class="data-view-property-value"><slick-tag-list model="testcase.tags" editable="yes"></slick-tag-list></div>
        </div>
        <div class="data-view">
            <div class="data-view-item">
                <div class="data-view-property-name">Component</div>
                <div class="data-view-property-value" ng-model="testcase.component.name" name="componentname" contenteditable="false">></div>
            </div>
        </div>
        <div class="data-view-item">
            <div class="data-view-property-name">Steps<br /><span class="button" ng-click="toggleAddStep()">Add</span></div>
            <div class="data-view-property-value">
                <div ng-repeat="step in testcase.steps" class="flex-container">
                    <div>
                        </br ><div class="step-row glow"><span class="step-label">Step {{$index + 1}}: </span><span ng-model="step.name" contenteditable="true"></span></div>
                        <div class="expected-result-row"><span class="step-label">Expected Result: </span><span ng-model="step.expectedResult" contenteditable="true"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="data-view-item data-view-item-save-button-row" ng-show="testcaseForm.$dirty">
            <div class="data-view-property-name">&nbsp;</div>
            <div class="data-view-save"><span class="button" ng-click="save()">Save</span> <span class="button" ng-click="revert()">Revert</span></div>
        </div>
    </form>
</div>