<div class="slickview">
    <slick-dialog title="Add Step" size="small" show="showAddStep" buttons="Add|Cancel" button-callback="addStepDialogButtonClicked(buttonName)">
        <div class="data-view">
            <div class="data-view-item">
                <div class="data-view-property-name">Step</div>
                <div class="data-view-property-value"><input type="text" ng-model="step.name" class="add-step-input-box"/></div>
            </div>
            <div class="data-view-item">
                <div class="data-view-property-name">Expected Result</div>
                <div class="data-view-property-value"><input type="text" ng-model="step.expectedResult" class="add-step-input-box"/></div>
            </div>
        </div>
    </slick-dialog>

    <form name="testcaseForm">
        <ng-include src="'static/resources/pages/testcase/testcase-dataview.html'"></ng-include>
    </form>
</div>