.projects-list-column-container {
  .flex-container;
}

.projects-list-name-column {
  .flex-grow-off;
  width: 50%;
  padding-left: .1in;
}

.projects-list-lastUpdated-column {
  .flex-grow-off;
  width: 25%;
  padding-left: .1in;
}

.projects-list-defaultBuild-column {
  width: 25%;
  padding-left: .1in;
}

.projects-list-row {
  padding-top: .05in;
  // border-bottom: 1px solid #FFFFFF;
  padding-bottom: .05in;
}

.projects-list-row.ng-enter {
  .animated;
  .animated.fadeInRightBig;
}

.projects-list-row.ng-leave {
  .animated;
  .animated.fadeOutRightBig;
}

.projects-list-row:nth-child(even) {
  background: #222222;
}

.projects-list-row:last-child {
  border-bottom: none;
}

.projects-list-project-description {
  padding-left: .1in;
}

.project-component-code {
  font-size: .8em;
}

.project-release-container {
  .flex-grow-off;
  width: 35%;
}

.project-build-container {
  .flex-grow-off;
  width: 35%;
  margin-left: .1in;
  position: relative;
}

.project-build-list {
  position: absolute;
  width: 100%;
  .rounded-corners();
  border: 1px solid white;
  padding: .05in;
}

.project-build-list.ng-hide-remove {
  display: block !important;
  .animated;
  .animated.fadeInDownBig;
}

.project-build-list.ng-hide-add {
  .animated;
  .animated.fadeOutDownBig;
}

.project-release-selected {
  .fade(@c-header-top, @c-header-bottom, #ffffff);
}

.project-build-header {
  .fade(@c-structural-top, @c-structural-bottom, @c-text);
  padding: .05in;
}
