<div class="slickview">
    <div class="testrun-summary-outer">
        <div class="testrun-summary-inner">
            <div class="testrun-summary-container">
                <google-pie-chart class="testrun-summary-chart" data="data" options="options"></google-pie-chart>
                <div class="testrun-summary-data">
                    <div class="testrun-summary-data-container">
                        <div class="testrun-summary-data-row result-status-{{status.replace('_','')}}" ng-repeat="status in testrun.summary.statusListOrdered">
                            <div class="testrun-summary-data-status" ng-bind="status.replace('_',' ')"></div>
                            <div class="testrun-summary-data-number" ng-bind="testrun.summary.resultsByStatus[status]"></div>
                            <div class="testrun-summary-data-percent" ng-bind="'' + (((testrun.summary.resultsByStatus[status] * 1.0)/testrun.summary.total) * 100).toFixed(1) + '%'"></div>
                        </div>
                        <div class="testrun-summary-data-row result-status-total">
                            <div class="testrun-summary-data-status">Total</div>
                            <div class="testrun-summary-data-number" ng-bind="testrun.summary.total"></div>
                        </div>
                    </div>
                </div>
                <div class="testrun-summary-metadata">
                    <div class="testrun-summary-metadata-row testrun-summary-metadata-row-project" ng-show="testrun.project">
                        <div class="testrun-summary-metadata-key">Project: </div>
                        <div class="testrun-summary-metadata-value" ng-bind="testrun.project.name"></div>
                    </div>
                    <div class="testrun-summary-metadata-row testrun-summary-metadata-row-release" ng-show="testrun.release">
                        <div class="testrun-summary-metadata-key">Release: </div>
                        <div class="testrun-summary-metadata-value" ng-bind="testrun.release.name"></div>
                    </div>
                    <div class="testrun-summary-metadata-row testrun-summary-metadata-row-build" ng-show="testrun.build">
                        <div class="testrun-summary-metadata-key">Build: </div>
                        <div class="testrun-summary-metadata-value" ng-bind="testrun.build.name"></div>
                    </div>
                    <div class="testrun-summary-metadata-row" ng-show="testrun.testplan">
                        <div class="testrun-summary-metadata-key">Testplan: </div>
                        <div class="testrun-summary-metadata-value" ng-bind="testrun.testplan.name"></div>
                    </div>
                    <div class="testrun-summary-metadata-row" ng-show="testrun.config">
                        <div class="testrun-summary-metadata-key">Environment: </div>
                        <div class="testrun-summary-metadata-value" ng-bind="testrun.config.name"></div>
                    </div>
                    <div class="testrun-summary-metadata-row" ng-show="testrun.dateCreated">
                        <div class="testrun-summary-metadata-key">Created: </div>
                        <div class="testrun-summary-metadata-value" ng-bind="testrun.dateCreated |date:'medium'"></div>
                    </div>
                    <div class="testrun-summary-metadata-row" ng-show="testrun.state">
                        <div class="testrun-summary-metadata-key">Testrun State: </div>
                        <div class="testrun-summary-metadata-value" ng-bind="testrun.state"></div>
                    </div>
                    <div class="testrun-summary-metadata-row" ng-show="testrun.runStarted">
                        <div class="testrun-summary-metadata-key">Started: </div>
                        <div class="testrun-summary-metadata-value" ng-bind="testrun.runStarted |date:'medium'"></div>
                    </div>
                    <div class="testrun-summary-metadata-row" ng-show="testrun.runFinished">
                        <div class="testrun-summary-metadata-key">Finished: </div>
                        <div class="testrun-summary-metadata-value" ng-bind="testrun.runFinished |date:'medium'"></div>
                    </div>
                    <div class="testrun-summary-metadata-row" ng-show="testrun.runStarted && testrun.runFinished">
                        <div class="testrun-summary-metadata-key">Run Time: </div>
                        <div class="testrun-summary-metadata-value" ng-bind="getTestrunDuration(testrun)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="testrun-summary-outer">
        <div class="testrun-summary-inner testrun-summary-filter-container">
            <form class="testrun-summary-filter-form" name="statusFilter">
                Include:
                <span ng-repeat="status in testrun.summary.statusListOrdered" class="testrun-summary-filter result-status-{{status}}">
                    <input type="checkbox" ng-model="filter[status]">{{status}}
                </span>
            </form>
        </div>
    </div>
    <slick-list-header model="resultList" search="on" pagination="on" default-sort="recorded" default-page-size="25">
        <slick-list-columns class="result-list-column-container">
            <slick-list-column class="result-list-name-column" sort-property-name="testcase.name" sortable="true">Name</slick-list-column>
            <slick-list-column class="result-list-component-column" sort-property-name="component.name" sortable="true">Component</slick-list-column>
            <slick-list-column class="result-list-recorded-column" sort-property-name="recorded" sortable="true">Recorded</slick-list-column>
            <slick-list-column class="result-list-duration-column" sort-property-name="runlength" sortable="true">Duration</slick-list-column>
            <slick-list-column class="result-list-hostname-column" sort-property-name="hostname" sortable="true">Hostname</slick-list-column>
            <slick-list-column class="result-list-history-column" sortable="false">History</slick-list-column>
            <slick-list-column class="result-list-status-column" sort-property-name="status" sortable="true">Status</slick-list-column>
        </slick-list-columns>
    </slick-list-header>
    <div class="result-list-row" ng-repeat="result in results | slickListFilter:resultList">
        <div class="result-list-column-container">
            <div class="result-list-name-column" ng-bind="result.testcase.name"></div>
            <div class="result-list-component-column" ng-bind="result.component.name"></div>
            <div class="result-list-recorded-column" ng-bind="result.recorded|date:'medium'"></div>
            <div class="result-list-duration-column" ng-bind="getResultDuration(result)"></div>
            <div class="result-list-hostname-column" ng-bind="result.hostname"></div>
            <div class="result-list-history-column" ng-bind=""></div>
            <div class="result-list-status-column result-status-{{result.status.replace('_','')}}" ng-bind="result.status.replace('_',' ')"></div>
        </div>
    </div>

</div>
