<div class="slickview">
    <slick-dialog title="Add Note" size="small" show="showAddNote" buttons="Add|Cancel" button-callback="addNoteDialogButtonClicked(buttonName)">
        <div class="data-view testrun-summary-add-note" layout="column">
            <md-input-container>
                <label>Message</label>
                <input type="text" ng-model="note.message"/>
            </md-input-container>
            <md-input-container>
                <label>URL (optional)</label>
                <input type="url" ng-model="note.externalLink"/>
            </md-input-container>
            <md-input-container>
                <md-checkbox type="checkbox" ng-model="note.recurring">Recurring</md-checkbox>
            </md-input-container>
            <fieldset class="standard" ng-show="note.recurring">
                <legend>Match Release</legend>
                <md-input-container>
                    <md-checkbox type="checkbox" ng-model="note.matchRelease" aria-label="note.result.release.name">
                        {{ note.result.release.name }}</md-checkbox>
                </md-input-container>
            </fieldset>
            <fieldset class="standard" ng-show="note.recurring">
                <legend>Match Environment</legend>
                <md-input-container>
                    <md-checkbox ng-model="note.matchEnvironment" aria-label="note.result.config.name">
                        {{ note.result.config.name }}</md-checkbox>
                </md-input-container>
            </fieldset>
        </div>
    </slick-dialog>
    <slick-dialog title="{{ fileToDisplay.filename }}" size="large" show="showDisplayFile" buttons="Ok" button-callback="displayFileDialogButtonClicked(buttonName)">
        <div ng-switch on="getFileViewer(fileToDisplay)">
            <div class="testrun-summary-display-file-image" ng-switch-when="image">
                <img ng-src="api/files/{{ fileToDisplay.id }}/content/{{ fileToDisplay.filename }}" alt="{{ fileToDisplay.filename }}"/>
            </div>
            <div class="testrun-summary-display-file-embed-video" ng-switch-when="embed-video">
                <object type="{{ fileToDisplay.mimetype }}" width="800" height="600" data="api/files/{{ fileToDisplay.id }}/content/{{ fileToDisplay.filename }}"></object>
            </div>
            <div style="text-align: center" class="testrun-summary-display-file-html5-video" ng-switch-when="html5-video">
                <video ng-src="{{ getUrlForFile(fileToDisplay) }}" preload="auto" controls></video>
            </div>
            <div class="testrun-summary-display-file-text" ng-switch-when="text">
                <pre prettyprint code="fileToDisplay.text"></pre>
            </div>
        </div>
    </slick-dialog>
    <slick-dialog title="Reason" size="large" show="showDisplayReason" buttons="Ok" button-callback="displayReasonDialogButtonClicked(buttonName)">
        <pre ng-bind="reason"></pre>
    </slick-dialog>
    <slick-dialog title="Logs" size="large" show="showDisplayLogs" buttons="Ok" button-callback="displayLogsDialogButtonClicked(buttonName)">
        <slick-log-viewer logs="logs"></slick-log-viewer>
    </slick-dialog>
    <slick-dialog title="{{ testcase.name }}" size="large" show="showTestcaseDialog" buttons="Ok" button-callback="displayTestcaseDialogButtonClicked(buttonName)">
        <ng-include src="'static/resources/pages/testcase/testcase-dataview.html'">
        </ng-include>
    </slick-dialog>
    <md-tabs md-dynamic-height md-border-bottom md-stretch-tabs="yes">
        <md-tab>
            <md-tab-label>
                <md-icon class="material-icons">info</md-icon>
                <md-tooltip>Testrun Info</md-tooltip>
            </md-tab-label>
            <md-tab-body>
                <div layout="row" layout-wrap>
                    <div layout="row" layout-wrap style="justify-content: space-between; flex-grow: 1">
                        <div layout="column" md-colors="{background: 'background-hue-1'}">
                        <md-card>
                            <md-card-header style="padding: 2px 16px;">
                                <md-button ng-show="testrun.build.name" class="md-fab md-mini md-primary" ng-href="{{ goToBuildReportButton.href }}" style="margin-right: 20px">
                                    <md-icon class="material-icons">reply</md-icon>
                                    <md-tooltip>Back to Build Report</md-tooltip>
                                </md-button>
                                <md-card-header-text>
                                    <span class="md-title" style="white-space: nowrap">Testrun Information</span>
                                </md-card-header-text>
                            </md-card-header>
                            <md-divider></md-divider>
                            <md-card-content>
                                <div class="testrun-summary-metadata">
                                    <div class="testrun-summary-metadata-row" ng-show="testrun.project">
                                        <div class="testrun-summary-metadata-key">Project:</div>
                                        <div class="testrun-summary-metadata-value" ng-bind="testrun.project.name"></div>
                                    </div>
                                    <div class="testrun-summary-metadata-row" ng-show="testrun.release">
                                        <div class="testrun-summary-metadata-key">Release:</div>
                                        <div class="testrun-summary-metadata-value" ng-bind="testrun.release.name"></div>
                                    </div>
                                    <div class="testrun-summary-metadata-row" ng-show="testrun.build">
                                        <div class="testrun-summary-metadata-key">Build:</div>
                                        <div class="testrun-summary-metadata-value" ng-bind="testrun.build.name"></div>
                                    </div>
                                    <div class="testrun-summary-metadata-row" ng-show="testrun.testplan">
                                        <div class="testrun-summary-metadata-key">Testplan:</div>
                                        <div class="testrun-summary-metadata-value" ng-bind="testrun.testplan.name"></div>
                                    </div>
                                    <div class="testrun-summary-metadata-row" ng-show="testrun.config">
                                        <div class="testrun-summary-metadata-key">Environment:</div>
                                        <div class="testrun-summary-metadata-value" ng-bind="testrun.config.name"></div>
                                    </div>
                                    <div class="testrun-summary-metadata-row" ng-show="testrun.dateCreated">
                                        <div class="testrun-summary-metadata-key">Created:</div>
                                        <div class="testrun-summary-metadata-value" ng-bind="testrun.dateCreated |date:'medium'"></div>
                                    </div>
                                    <div class="testrun-summary-metadata-row" ng-show="testrun.state">
                                        <div class="testrun-summary-metadata-key">Testrun State:</div>
                                        <div class="testrun-summary-metadata-value" ng-bind="testrun.state"></div>
                                    </div>
                                    <div class="testrun-summary-metadata-row" ng-show="testrun.runStarted">
                                        <div class="testrun-summary-metadata-key">Started:</div>
                                        <div class="testrun-summary-metadata-value" ng-bind="testrun.runStarted |date:'medium'"></div>
                                    </div>
                                    <div class="testrun-summary-metadata-row" ng-show="testrun.runFinished">
                                        <div class="testrun-summary-metadata-key">Finished:</div>
                                        <div class="testrun-summary-metadata-value" ng-bind="testrun.runFinished |date:'medium'"></div>
                                    </div>
                                    <div class="testrun-summary-metadata-row" ng-show="testrun.runStarted && testrun.runFinished">
                                        <div class="testrun-summary-metadata-key">Run Time:</div>
                                        <div class="testrun-summary-metadata-value" ng-bind="getTestrunDuration(testrun)"></div>
                                    </div>
                                    <div class="testrun-summary-metadata-row" ng-show="estimatedTimeRemaining">
                                        <div class="testrun-summary-metadata-key">Time Remaining:</div>
                                        <div class="testrun-summary-metadata-value" ng-bind="estimatedTimeRemaining"></div>
                                    </div>
                                    <div class="testrun-summary-metadata-row" ng-show="testrun.files.length !== 0">
                                        <div class="testrun-summary-metadata-key">Files({{ testrun.files.length }}):</div>
                                        <div class="testrun-summary-metadata-value">
                                            <a ng-repeat="file in testrun.files" href="api/files/{{ file.id }}/content/{{ file.filename }}" ng-click="displayFile(file, $event)">{{ file.filename }} </a>
                                        </div>
                                    </div>
                                    <div class="testrun-summary-metadata-row" ng-show="testrun.links.length !== 0">
                                        <div class="testrun-summary-metadata-key">Links({{ testrun.links.length }}):</div>
                                        <div class="testrun-summary-metadata-value">
                                            <a ng-repeat="link in testrun.links" href="{{ link.url }}" target="_blank">{{ link.name }}</a>
                                        </div>
                                    </div>
                                    <div class="testrun-summary-metadata-row">

                                    </div>
                                    <div ng-show="testrun.info">
                                        <pre ng-bind="testrun.info"></pre>
                                    </div>
                                </div>
                            </md-card-content>
                        </md-card>
                        <md-card>
                            <md-card-header>
                                <md-card-header-text>
                                    <span class="md-title">Testrun History</span>
                                </md-card-header-text>
                            </md-card-header>
                            <md-divider></md-divider>
                            <md-progress-linear ng-show="testrunHistory.length === 0"></md-progress-linear>
                            <md-card-content style="max-height: 2.5in; overflow: auto" ng-show="testrunHistory.length !== 0">
                                <md-list class="md-dense">
                                    <md-list-item ng-repeat="testrunHistoryItem in testrunHistory track by $index" md-colors="testrunHistoryItem.id === testrun.id ? {background: 'background-A100'} : ''">
                                        <a class="clickable" href="testruns/{{ testrunHistoryItem.id }}">
                                            {{ testrunHistoryItem.release.name }}.{{ testrunHistoryItem.build.name }}
                                        </a>
                                        <div flex></div>
                                        <md-icon md-colors="testrunHistoryItem.id === testrun.id ? {color: 'background'} : ''" ng-show="testrunHistoryItem.state === 'FINISHED'" class="material-icons result-status-{{ replaceOnStatus(testrunHistoryItem.summary.status, '') }}" title="{{ replaceOnStatus(testrunHistoryItem.summary.status, ' ') }}">{{ statusToIcon(testrunHistoryItem.summary.status) }}</md-icon><i ng-if="testrunHistoryItem.state !== 'FINISHED' || testrunHistoryItem.summary.status === undefined" class="pulse"></i>
                                    </md-list-item>
                                </md-list>
                            </md-card-content>
                        </md-card>
                    </div>
                        <div layout="column">
                            <md-card md-colors="{background: 'background'}">
                                <md-card-header>
                                    <md-card-header-text>
                                        <span class="md-title">Results</span>
                                    </md-card-header-text>
                                </md-card-header>
                                <md-divider></md-divider>
                                <md-card-content>
                                    <div ng-cloak layout="row">
                                        <div class="testrun-summary-data">
                                            <div class="testrun-summary-data-container" flex style="flex-wrap: wrap">
                                                <md-list flex>
                                                    <div class="result-status-{{ replaceOnStatus(status, '') }}" ng-repeat="status in testrun.summary.statusListOrdered">
                                                        <md-list-item class="testrun-summary-data-row">
                                                            <div class="cancel-button" ng-show="testrun.attributes && testrun.attributes.scheduled && status === 'NO_RESULT'" ng-click="cancelResults()"></div>
                                                            <div class="cancel-button-empty" ng-show="testrun.attributes && testrun.attributes.scheduled && status !== 'NO_RESULT' && testrun.summary.statusListOrdered.includes('NO_RESULT')"></div>
                                                            <div class="reschedule-button" ng-show="testrun.attributes && testrun.attributes.scheduled" ng-click="rescheduleStatus(status)"></div>
                                                            <div class="testrun-summary-data-status clickable-text" ng-bind="replaceOnStatus(status, ' ')" ng-click="toggleFilter(status)"></div>
                                                            <div flex></div>
                                                            <div class="testrun-summary-data-number" ng-bind="testrun.summary.resultsByStatus[status]"></div>
                                                            <div class="testrun-summary-data-percent" ng-bind="'' + (((testrun.summary.resultsByStatus[status] * 1.0)/testrun.summary.total) * 100).toFixed(1) + '%'"></div>
                                                        </md-list-item>
                                                    </div>
                                                    <md-divider></md-divider>
                                                    <md-list-item class="testrun-summary-data-row result-status-total">
                                                        <div class="cancel-button-empty"></div>
                                                        <div class="cancel-button-empty" ng-show="testrun.attributes && testrun.attributes.scheduled && testrun.summary.statusListOrdered.includes('NO_RESULT')"></div>
                                                        <div class="testrun-summary-data-status">Total</div>
                                                        <div flex></div>
                                                        <div class="testrun-summary-data-number" ng-bind="testrun.summary.total"></div>
                                                    </md-list-item>
                                                    <div layout="column">
                                                        <div ng-repeat="status in testrun.summary.statusListOrdered" ng-show="withoutNotesStats[status]" class="testrun-summary-data-notes clickable-text result-status-{{ replaceOnStatus(status, '') }}" ng-click="toggleFilter('withoutnotes')" ng-bind="withoutNotesStats[status] + ' without notes'"></div>
                                                    </div>
                                                </md-list>
                                            </div>
                                        </div>
                                    </div>
                                </md-card-content>
                            </md-card>
                        </div>
                        <div layout="column">
                            <md-card md-colors="{background: 'background'}">
                                <md-card-header>
                                    <md-card-header-text>
                                        <span class="md-title">Overall Summary</span>
                                    </md-card-header-text>
                                </md-card-header>
                                <md-divider></md-divider>
                                <md-card-content>
                                    <google-pie-chart class="testrun-summary-chart" data="data" options="options"></google-pie-chart>
                                </md-card-content>
                            </md-card>
                        </div>
                        <div layout="column">
                            <md-card md-colors="{background: 'background'}">
                                <md-card-header>
                                    <md-card-header-text>
                                        <span class="md-title">Frequent Issues</span>
                                    </md-card-header-text>
                                </md-card-header>
                                <md-divider></md-divider>
                                <md-progress-linear ng-show="processingOffenders"></md-progress-linear>
                                <md-card-content ng-show="!processingOffenders && keyLength(repeatOffendersList) === 0">
                                    <div layout="row" style="align-items: center">
                                        <span>None!</span>
                                        <div flex></div>
                                        <md-icon class="material_icons">check_circled</md-icon>
                                    </div>
                                </md-card-content>
                                <md-card-content ng-show="!processingOffenders && keyLength(repeatOffendersList) !== 0" style="max-height: 3in; overflow: auto">
                                    <div ng-repeat="(status, tests) in repeatOffendersList" layout="column">
                                        <div layout="column" style="width: 100%">
                                            <h3 class="result-status-{{ replaceOnStatus(status, '') }}">{{ replaceOnStatus(status, ' ') }}</h3>
                                            <md-menu ng-repeat="offender in tests | orderBy:'-count'" style="margin-bottom:5px">
                                                <div layout="row" style="align-items: center">
                                                    <span ng-bind="offender.name" style="max-width: 3in"></span>
                                                    <div flex></div>
                                                    <md-button class="md-fab md-mini" ng-click="$mdMenu.open()" aria-label="{{ offender.count }}" ng-bind="offender.count">
                                                    </md-button>
                                                </div>
                                                <md-menu-content>
                                                    <md-menu-item ng-repeat="test in offender.testcases">
                                                        <md-button ng-click="onHistoryClick(test)">{{ testrun.release.name }}.{{ test.build.name }}</md-button>
                                                    </md-menu-item>
                                                </md-menu-content>
                                            </md-menu>
                                        </div>
                                    </div>
                                </md-card-content>
                            </md-card>
                            <md-card md-colors="{background: 'background'}" style="overflow: auto" ng-show="topContributors">
                                <md-card-header>
                                    <md-card-header-text>
                                        <span class="md-title">Who should I talk to?</span>
                                    </md-card-header-text>
                                </md-card-header>
                                <md-divider></md-divider>
                                <md-progress-linear ng-show="processingOffenders"></md-progress-linear>
                                <md-card-content ng-show="!processingOffenders && keyLength(topContributors) === 0">
                                    <div layout="row" style="align-items: center">
                                        <span>Nobody!</span>
                                        <div flex></div>
                                        <md-icon class="material_icons">check_circled</md-icon>
                                    </div>
                                </md-card-content>
                                <md-card-content ng-show="!processingOffenders && keyLength(topContributors) !== 0">
                                    <div layout="column" style="width: 100%">
                                        <div layout="row" ng-repeat="(name, count) in topContributors">
                                            <span ng-bind="name" style="max-width: 3in"></span>
                                            <div flex></div>
                                            <span ng-bind="count" style="margin-left: 10px"></span>
                                        </div>
                                    </div>
                                </md-card-content>
                            </md-card>
                        </div>
                    </div>
                </div>
            </md-tab-body>
        </md-tab>
        <md-tab>
            <md-tab-label>
                <md-icon class="material-icons">equalizer</md-icon>
                <md-tooltip>Reports</md-tooltip>
            </md-tab-label>
            <md-tab-body>
                <md-tabs>
                    <md-tab label="TPS Report">
                        <md-tab-body>
                            <md-progress-linear ng-show="tpsData.Mf.length === 1"></md-progress-linear>
                            <google-area-chart ng-show="tpsData.Mf.length > 1" class="testrungroup-serial-chart" data="tpsData" options="tpsReportOptions"></google-area-chart>
                        </md-tab-body>
                    </md-tab>
                </md-tabs>
            </md-tab-body>
        </md-tab>
    </md-tabs>
    <md-toolbar layout="row" class="md-table-toolbar md-accent">
        <md-toolbar-filler layout layout-align="center center">
            <md-icon class="material-icons" style="margin-right: 20px">create</md-icon>
        </md-toolbar-filler>
        <div class="md-toolbar-tools">
            <span style="font-family: 'Audiowide', cursive;">Testcases</span>
            <div flex="" class="flex"></div>
            <form class="testrun-summary-show-form" name="showFilter">
                <md-menu>
                    <md-button class="md-fab md-mini md-primary" ng-click="$mdMenu.open()">
                        <md-icon class="material-icons">visibility</md-icon>
                        <md-tooltip>Show</md-tooltip>
                    </md-button>
                    <md-menu-content>
                        <md-menu-item><span class="testrun-summary-filter"><md-switch type="checkbox" ng-model="show['author']">Author</md-switch></span></md-menu-item>
                        <md-menu-item><span class="testrun-summary-filter"><md-switch type="checkbox" ng-model="show['component']">Component</md-switch></span></md-menu-item>
                        <md-menu-item><span class="testrun-summary-filter"><md-switch type="checkbox" ng-model="show['recorded']">Recorded</md-switch></span></md-menu-item>
                        <md-menu-item><span class="testrun-summary-filter"><md-switch type="checkbox" ng-model="show['duration']">Duration</md-switch></span></md-menu-item>
                        <md-menu-item><span class="testrun-summary-filter"><md-switch type="checkbox" ng-model="show['hostname']">Hostname</md-switch></span></md-menu-item>
                        <md-menu-item><span class="testrun-summary-filter"><md-switch type="checkbox" ng-model="show['automationid']">Automation ID</md-switch></span></md-menu-item>
                        <md-menu-item><span class="testrun-summary-filter"><md-switch type="checkbox" ng-model="show['resultid']">Slick Result ID</md-switch></span></md-menu-item>
                    </md-menu-content>
                </md-menu>
            </form>
            <form class="testrun-summary-filter-form" name="statusFilter">
                <md-menu>
                    <md-button class="md-fab md-mini md-primary" ng-click="$mdMenu.open()">
                        <md-icon class="material-icons">filter_list</md-icon>
                        <md-tooltip>Filter</md-tooltip>
                    </md-button>
                    <md-menu-content>
                        <md-menu-item ng-repeat="status in testrun.summary.statusListOrdered">
                            <span class="testrun-summary-filter result-status-{{ replaceOnStatus(status, '') }}">
                                <md-switch type="checkbox" ng-model="filter[status]">{{ replaceOnStatus(status, " ") }}</md-switch>
                            </span>
                        </md-menu-item>
                        <md-menu-item>
                            <span class="testrun-summary-filter">
                                <md-switch type="checkbox" ng-model="filter['withoutnotes']">Without Notes</md-switch>
                            </span>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </form>
        </div>
    </md-toolbar>
    <md-progress-linear ng-show="results.length === 0" style="margin: 0 auto"></md-progress-linear>
    <md-content style="overflow: auto">
        <table slick-list-header model="resultList" search="on" pagination="on" default-sort="recorded" default-page-size="50" style="width: 100%">
            <tr slick-list-columns class="result-list-column-container">
                <th slick-list-column style="text-align: center">Status</th>
                <th slick-list-column ng-show="results[0].attributes && results[0].attributes.scheduled" class="result-list-status-column" sortable="false"></th>
                <th slick-list-column class="result-list-name-column" sort-property-name="testcase.name" sortable="true">Name</th>
                <th slick-list-column class="result-list-author-column" sort-property-name="testcase.author" sortable="true" ng-show="show['author']">Author</th>
                <th slick-list-column class="result-list-component-column" sort-property-name="component.name" sortable="true" ng-show="show['component']">Component</th>
                <th slick-list-column class="result-list-recorded-column" sort-property-name="recorded" sortable="true" ng-show="show['recorded']">Recorded</th>
                <th slick-list-column class="result-list-duration-column" sort-property-name="runlength" sortable="true" ng-show="show['duration']">Duration</th>
                <th slick-list-column class="result-list-hostname-column" sort-property-name="hostname" sortable="true" ng-show="show['hostname']">Hostname</th>
                <th slick-list-column class="result-list-history-column" sortable="false">History</th>
                <th slick-list-column class="result-list-status-column" sort-property-name="status" sortable="true">Status</th>
            </tr>
            <tbody style="width: 100%" class="result-list-row" ng-repeat="result in results | slickListFilter:resultList track by result.id" md-colors="$index % 2 === 0 ? {background: 'background-hue-1'} : ''">
            <tr style="padding-bottom: 5px">
                <td style="text-align: center"><md-icon ng-show="result.runstatus === 'FINISHED'" class="material-icons result-status-{{ replaceOnStatus(result.status, '') }}">{{ statusToIcon(result.status) }}</md-icon><i ng-if="result.runstatus === 'RUNNING' || (result.runstatus === 'FINISHED' && result.status === 'NO_RESULT')" class="pulse"></i></td>
                <td align="center" ng-show="result.attributes && result.attributes.scheduled" class="result-list-status-column">
                    <md-button class="md-icon-button" ng-click="rescheduleResult(result.id)">
                        <md-icon class="material-icons">refresh</md-icon>
                        <md-tooltip>Reschedule Testcase</md-tooltip>
                    </md-button>
                </td>
                <td class="result-list-name-column">
                    <a href="testcases/{{ result.testcase.testcaseId }}" ng-click="showTestcase(result, $event)">
                        <md-icon class="material-icons" ng-show="!isExpanded(result.id)">chevron_right</md-icon>
                        <md-icon class="material-icons" ng-show="isExpanded(result.id)">expand_more</md-icon>
                        <span style="vertical-align: middle" ng-bind="result.testcase.name"></span>
                    </a>
                </td>
                <td class="result-list-author-column" ng-bind="result.testcase.author" ng-show="show['author']"></td>
                <td class="result-list-component-column" ng-bind="result.component.name" ng-show="show['component']"></td>
                <td class="result-list-recorded-column" ng-bind="result.recorded|date:'medium'" ng-show="show['recorded']"></td>
                <td class="result-list-duration-column" ng-bind="getResultDuration(result)" ng-show="show['duration']"></td>
                <td class="result-list-hostname-column" ng-bind="result.hostname" ng-show="show['hostname']"></td>
                <td class="result-list-history-column">
                    <md-icon style="width: .2in" ng-repeat="hres in result.history | reverse track by hres.resultId" class="clickable material-icons result-status-{{ replaceOnStatus(hres.status, '') }}" ng-click="onHistoryClick(hres)"/>
                    {{ statusToIcon(hres.status) }}</td>
                <td style="align-items: center"><span class="result-status-{{ replaceOnStatus(result.status, '') }}" ng-bind="replaceOnStatus(result.status, ' ')"></span></td>
            </tr>
            <tr ng-show="show['automationid']">
                <td colspan="10" class="result-list-automationid-column" ng-bind="'Automation ID: ' + result.testcase.automationId"></td>
            </tr>
            <tr ng-show="show['resultid']">
                <td colspan="10" class="result-list-resultid-column" ng-bind="'Slick Result ID: ' + result.id"></td>
            </tr>
            <tr ng-show="getResultNotes(result).length !== 0">
                <td colspan="10" class="result-list-notes-part">
                    <fieldset class="standard">
                        <legend>Notes</legend>
                        <div ng-repeat="note in getResultNotes(result)" class="result-note">
                            <span class="result-note-timestamp {{ note.level }}" ng-bind="note.entryTime |date:'medium'"></span>
                            <span class="result-note-message {{ note.level }}" ng-bind="note.message.split('\n')[0]"></span>
                            <a href="{{ note.exceptionMessage }}" class="result-note-link" ng-show="note.exceptionMessage" ng-bind="note.exceptionMessage"></a>
                        </div>
                    </fieldset>
                </td>
            </tr>
            <tr ng-show="result.reason && !moreDetail && !moreDetailForResult[result.id]">
                <td colspan="10" class="result-list-reason-part">
                    <fieldset class="standard">
                        <legend>Reason</legend>
                        <a href="results/{{ result.id }}/reason" ng-click="displayReason(result, $event)"><span class="result-list-reason-field">{{ getAbbreviatedReason(result) }}</span>...</a>
                    </fieldset>
                </td>
            </tr>
            <tr class="result-expanded" ng-show="isExpanded(result.id)">
                <td colspan="10" md-colors="$index % 2 === 0 ? {background: 'background-hue-1'} : ''">
                    <fieldset style="margin-bottom: 5px" class="standard" ng-show="result.files.length !== 0">
                        <legend>Files ({{ result.files.length }})</legend>
                        <span ng-repeat="file in result.files">
                                        <a href="api/files/{{ file.id }}/content/{{ file.filename }}" ng-click="displayFile(file, $event)">{{ file.filename }} </a>
                                        <span ng-show="!$last">,</span>
                                </span>
                    </fieldset>
                    <fieldset style="margin-bottom: 5px" class="standard" ng-show="result.links.length !== 0">
                        <legend>Links ({{ result.links.length }})</legend>
                        <span ng-repeat="link in result.links">
                                        <a href="{{ link.url }}" target="_blank">{{ link.name }}</a>
                                        <span ng-show="!$last">,</span>
                                </span>
                    </fieldset>
                    <div ng-show="resultGraphs[result.id]">
                        <fieldset style="margin-bottom: 5px" class="standard">
                            <legend>Graph</legend>
                            <google-area-chart class="testrungroup-serial-chart" data="resultGraphs[result.id].data" options="resultGraphs[result.id].options"></google-area-chart>
                        </fieldset>
                    </div>
                    <fieldset style="margin-bottom: 5px" class="standard">
                        <legend>Testcase</legend>
                        <md-toolbar md-colors="{background: 'accent-A200'}">
                            <div class="md-toolbar-tools">
                                <span>{{ testcases[result.testcase.name].name }}</span>
                                <div flex></div>
                                <md-button class="md-raised md-primary" ng-href="results/{{ result.id }}/log" ng-disabled="result.log.length === 0" ng-click="result.log.length === 0 || displayLogs(result, $event)">Logs</md-button>
                                <md-button class="md-raised md-primary" ng-click="addNote(result)">Add Note</md-button>
                                <md-button class="md-raised md-primary" ng-hide="moreDetail || moreDetailForResult[result.id]" ng-click="addMoreDetail(result)">More Detail</md-button>
                                <md-button class="md-raised md-primary" ng-show="moreDetail || moreDetailForResult[result.id]" ng-click="removeDetail(result)">Less Detail</md-button>
                            </div>
                        </md-toolbar>
                        <div ng-show="testcase && testcases[result.testcase.name]" ng-include src="'static/resources/pages/testcase/testcase-dataview.html'"></div>
                    </fieldset>
                </td>
            <tr class="result-list-more-detail-part" ng-show="moreDetailForResult[result.id]">
                <td colspan="10">
                    <fieldset style="margin-bottom: 5px" class="standard">
                        <legend>More Detail</legend>
                        <div class="result-list-more-detail-reason">
                            <pre>{{ result.reason }}</pre>
                        </div>
                        <div class="result-list-more-detail-screenshots">
                            <div class="result-list-more-detail-screenshot" ng-repeat="image in getImages(result) track by image.id">
                                <div class="result-list-more-detail-screenshot-filename">{{ image.filename }}</div>
                                <img ng-src="api/files/{{ image.id }}/content/{{ image.filename }}" alt="{{ image.filename }}"/>
                            </div>
                        </div>
                    </fieldset>
                </td>
            </tr>
            </tbody>
        </table>
    </md-content>
</div>
