<div class="slickview">
    <div class="testruns-list-filter">
        <md-button class="md-raised" ng-show="!isEmpty(user)" ng-click="toggleEdit()">Edit</md-button>
        <div class="testruns-list-filter-project">
            <md-input-container>
                <label>Project</label>
                <md-select ng-model="project">
                    <md-option ng-repeat="p in projects | orderBy: 'name' | unique: 'name'" ng-value="p" ng-selected="p.name === project.name || p.name === project">{{ p.name }}</md-option>
                </md-select>
            </md-input-container>
        </div>
        <div class="testruns-list-filter-release">
            <md-input-container>
                <label>Release</label>
                <md-select ng-model="release">
                    <md-option ng-repeat="r in releases | orderBy: 'name' | unique: 'name'" ng-value="r" ng-selected="r.name === release.name || r.name === release">{{ r.name }}</md-option>
                </md-select>
            </md-input-container>
        </div>
        <div class="testruns-list-filter-testplan">
            <md-input-container>
                <label>Testplan</label>
                <md-select ng-model="testplan">
                    <md-option ng-repeat="t in testplans | orderBy: 'name' | unique: 'name'" ng-value="t" ng-selected="t.name === testplan.name || t.name === testplan">{{ t.name }}</md-option>
                </md-select>
            </md-input-container>
        </div>
    </div>
    <table slick-list-header model="testrunList" search="on" pagination="on" default-sort="dateCreated" default-sort-reverse="true" default-page-size="25">
        <tr slick-list-columns class="testruns-list-column-container">
            <th slick-list-column class="testruns-list-edit-column" sortable="false" ng-show="editOn">Edit</th>
            <th slick-list-column class="testruns-list-name-column" sort-property-name="name" sortable="true">Name</th>
            <th slick-list-column class="testruns-list-results-column" sortable="false">Results</th>
            <th slick-list-column class="testruns-list-environment-column" sort-property-name="config.name" sortable="true">Environment</th>
            <th slick-list-column class="testruns-list-build-column" sort-property-name="build.name" sortable="true">Build</th>
            <th slick-list-column class="testruns-list-created-column" sort-property-name="dateCreated" sortable="true">Created</th>
        </tr>
        <tbody ng-repeat="testrun in testruns | slickListFilter:testrunList track by testrun.id" class="testruns-list-row" md-colors="$index % 2 === 0 ? {background: 'background-hue-1'} : ''">
        <tr class="testruns-list-column-container">
            <td ng-show="editOn">
                <md-button class="md-raised md-primary" ng-click="deleteTestrun(testrun)">Delete</md-button>
            </td>
            <td class="testruns-list-name-column"><a href="testruns/{{ testrun.id }}">{{ getDisplayName(testrun) }}</a></td>
            <td class="testruns-list-results-column">
                <div class="testruns-list-results-container">
                    <slick-testrun-stats testrun="testrun"></slick-testrun-stats>
                    <slick-testrun-statusbar summary="testrun.summary" size="normal"></slick-testrun-statusbar>
                </div>
            </td>
            <td class="testruns-list-environment-column">{{ testrun.config.name }}</td>
            <td class="testruns-list-build-column">{{ testrun.release.name }}-{{ testrun.build.name }}</td>
            <td class="testruns-list-created-column">{{ testrun.dateCreated | date:'MMM d, y h:mm:ss a'}}</td>
        </tr>
        </tbody>
    </table>
</div>
