.testruns-list-column-container {
  .flex-container;
  min-height: .3in;
}

@keyframes to-one-inch-width {
  from { width: 0; }
  to { width: 1in; }
}

@-webkit-keyframes to-one-inch-width {
  from { width: 0; }
  to { width: 1in; }
}

@-moz-keyframes to-one-inch-width {
  from { width: 0; }
  to { width: 1in; }
}

@keyframes from-one-inch-width {
  from { width: 1in; }
  to { width: 0; }
}

@-webkit-keyframes from-one-inch-width {
  from { width: 1in; }
  to { width: 0; }
}

@-moz-keyframes from-one-inch-width {
  from { width: 1in; }
  to { width: 0; }
}

.testruns-list-edit-column {
  width: 1in;
  overflow-x: hidden;
}

.testruns-list-edit-column.ng-hide-remove {
  .animated;
  animation-name: to-one-inch-width;
  -webkit-animation-name: to-one-inch-width;
  -moz-animation-name: to-one-inch-width;
}

.testruns-list-edit-column.ng-hide-add {
  .animated;
  animation-name: from-one-inch-width;
  -webkit-animation-name: from-one-inch-width;
  -moz-animation-name: from-one-inch-width;
  display: block !important;
}

.testruns-list-name-column {
  .flex-grow-on;
  padding-left: .1in;
}

.testruns-list-results-column {
  .flex-grow-off;
  width: 3in;
  padding-left: .1in;
}

.testruns-list-environment-column {
  .flex-grow-off;
  width: 2.5in;
  padding-left: .1in;
}

.testruns-list-build-column {
  .flex-grow-off;
  width: 1in;
  padding-left: .1in;
}

.testruns-list-created-column {
  .flex-grow-off;
  width: 2in;
  padding-left: .1in;
}
.testruns-list-row {
  padding-top: .05in;
  // border-bottom: 1px solid #FFFFFF;
  padding-bottom: .05in;
}

.testruns-list-row.ng-enter {
  .animated;
  .fadeInRightBig;
}

.testruns-list-row.ng-leave {
  .animated;
  .fadeOutRightBig;
}

.testruns-list-row:nth-child(even) {
  background: #222222;
}

.testruns-list-row:last-child {
  border-bottom: none;
}

.testruns-list-testrun-description {
  padding-left: .1in;
}

.testruns-list-filter {
  .flex-container;
  margin-bottom: .1in;
}

.testruns-list-filter-project {
  text-align: right;
  width: 33%;
}

.testruns-list-filter-release {
  width: 33%;
  text-align: center;
}

.testruns-list-results-container {
  .flex-container;
}

.testruns-list-results-container .testrun-stats {
  width: 60%;
}

.testrun-summary-container {
  .flex-container;
  text-align: left;
  margin-bottom: .5in;
}

.testrun-summary-data {
  margin-top: 1in;
  margin-left: .5in;
  margin-right: .7in;
  font-size: .4in;
}

.testrun-summary-data-container {
  display: inline-block;
}

.testrun-summary-data-row {
  .flex-container;
}

.reschedule-button {
  min-width: .45in;
  min-height: .45in;
  max-width: .45in;
  max-height: .45in;
  background-image: url("images/rerun_blank.png");
  background-size: .44in;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center center;
  margin-right:.1in;
}

.reschedule-button:hover {
  background-image: url("images/rerun_hover.png");
}

.reschedule-button:active {
  background-image: url("images/rerun_clicked.png");
}

.reschedule-button.reschedule-button-result {
  min-width: .25in;
  min-height: .25in;
  max-width: .25in;
  max-height: .25in;
  background-size: .24in;
  margin-left: .1in;
}

.cancel-button-empty {
  min-width: .45in;
  min-height: .45in;
  max-width: .45in;
  max-height: .45in;
  margin-right:.1in;
}

.cancel-button {
  min-width: .45in;
  min-height: .45in;
  max-width: .45in;
  max-height: .45in;
  background-image: url("images/cancel_blank.png");
  background-size: .44in;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center center;
  margin-right:.1in;
}

.cancel-button:hover {
  background-image: url("images/cancel_hover.png");
}

.cancel-button:active {
  background-image: url("images/cancel_clicked.png");
}

.testrun-summary-data-status {
  width: 3in;
}

.testrun-summary-data-number {
  width: 1in;
}

.testrun-summary-data-notes {
  font-size: .5em;
  padding-left: 3.1in;
}

.testrun-summary-data-row.result-status-total {
  border-top: 1px solid white;
  padding-top: .1in;
}

.testrun-summary-chart {
  height: 4in;
  width: 4in;
}

.testrun-summary-metadata {
  padding-top: .2in;
}

.testrun-summary-metadata-row {
  .flex-container;
}

.testrun-summary-metadata-key {
  width: 1.8in;
  font-weight: bold;
}

.testrun-summary-metadata-value.button {
  margin-top: 2px;
  margin-bottom: 2px;
}

.testrun-summary-metadata-row-project,
.testrun-summary-metadata-row-release,
.testrun-summary-metadata-row-build {
  font-size: 2em;
}

.testrun-summary-metadata-row-build {
  margin-bottom: .1in;
}

.testrun-summary-outer {
  text-align: center;
}

.testrun-summary-inner {
  display:inline-block;
}

.testrun-summary-filter {
  display: inline-block;
  padding-left: .5in;
}

.testrun-summary-subfilter {
  padding-left: .2in;
  font-size: .7em;
}

.testrun-summary-filter-container {
  font-size: 1.5em;
}

.result-list-column-container {
  .flex-container;
}

.result-list-row.ng-enter {
  .animated;
  .fadeInRightBig;
}

.result-list-row.ng-leave {
  .animated;
  .fadeOutRightBig;
}

.result-list-name-column {
  padding-left: .1in;
  .flex-grow-on;
}

.result-list-author-column {
  padding-left: .1in;
  width: 1.5in;
  .flex-grow-off;
}

.result-list-component-column {
  padding-left: .1in;
  width: 1.5in;
  .flex-grow-off;
}

.result-list-recorded-column {
  padding-left: .1in;
  width: 2.2in;
  .flex-grow-off;
}

.result-list-duration-column {
  padding-left: .1in;
  width: 1.5in;
  .flex-grow-off;
}

.result-list-hostname-column {
  padding-left: .1in;
  width: 1.5in;
  .flex-grow-off;
}

.result-list-history-column {
  padding-left: .1in;
  width: 2in;
  .flex-grow-off;
}

.result-list-status-column {
  padding-left: .1in;
  width: 1.5in;
  .flex-grow-off;
}

.result-list-row {
  padding-top: .05in;
  margin-bottom: .05in;
}

.result-list-row:nth-child(odd) {
  background: #222222;
}

.testrun-summary-filter-form {
  margin-bottom: 0;
}

.result-list-second-part {
  margin-left: .3in;
  .flex-container;
}

.result-list-tcdata-part {
  margin-left: .3in;
  .flex-container;
}

.result-list-automationid-column {
  .flex-grow-on;
  margin-right: .1in;
}

.result-list-resultid-column {
  width: 3.5in;
  margin-right: .1in;
}

.result-list-reason-part {
  margin-left: .3in;
}

.result-list-reason-part.ng-hide-remove {
  .animated;
  .fadeIn;
}

.result-list-log-column {
  width: 15%;
  min-width: 15%;
}

.result-list-files-column {
  padding-left: .2in;
  width: 60%;
  min-width: 60%;
}

.result-list-actions-column {
  padding-left: .2in;
}

.result-list-reason-field {
  font-family: monospace;
  padding-left: .2in;
}

.result-list-more-detail-part {
  margin-top: .1in;
}

.result-list-more-detail-part.ng-hide-remove {
  .animated;
  .fadeInDown;
}

.result-list-more-detail-part.ng-hide-add {
  display: block!important;
  .animated;
  .fadeOutUp;
}

.result-list-more-detail-screenshots {
}

.result-list-more-detail-screenshots img {
  width: 80%;
}

.result-list-more-detail-screenshot {
  text-align: center;
}

.result-list-more-detail-screenshot-filename {
  text-align: center;
}

.result-list-more-detail-reason {
  padding-left: .1in;
}

.testrun-summary-add-note .data-view-property-value input[type=text],
.testrun-summary-add-note .data-view-property-value input[type=url]
{
  -webkit-box-sizing: border-box;
  -moz-box-shadow: border-box;
  box-sizing: border-box;
  width: 90%;
}

.testrun-summary-add-note .data-view-item.ng-hide-remove {
  .animated;
  .fadeIn;
}

.testrun-summary-add-note .data-view-item.ng-hide-add {
  .flex-container-important;
  .animated;
  .fadeOut;
}

.result-note {
  color: @c-status-broken;
  margin-left: .3in;
}

.result-note-timestamp {

}

.result-note-message {
  margin-left: .2in;
}

.result-note-link {
  margin-left: .2in;
}

.testrun-summary-display-file-image {
  padding-left: 5%;
}

.testrun-summary-display-file-image img {
  width: 90%;
}

.testrun-summary-display-file-embed-video {
  width: 800;
  margin-left: auto;
  margin-right: auto;
}

.result-list-history-column img {
  width: .2in;
}


