.testruns-list-column-container {
  min-height: .3in;
}

@keyframes to-one-inch-width {
  from {
    width: 0;
  }
  to {
    width: 1in;
  }
}

@-webkit-keyframes to-one-inch-width {
  from {
    width: 0;
  }
  to {
    width: 1in;
  }
}

@-moz-keyframes to-one-inch-width {
  from {
    width: 0;
  }
  to {
    width: 1in;
  }
}

@keyframes from-one-inch-width {
  from {
    width: 1in;
  }
  to {
    width: 0;
  }
}

@-webkit-keyframes from-one-inch-width {
  from {
    width: 1in;
  }
  to {
    width: 0;
  }
}

@-moz-keyframes from-one-inch-width {
  from {
    width: 1in;
  }
  to {
    width: 0;
  }
}

.testruns-list-edit-column {
  width: 1in;
  overflow-x: hidden;
}

.testruns-list-edit-column.ng-hide-remove {
  .animated;
  animation-name: to-one-inch-width;
  -webkit-animation-name: to-one-inch-width;
  -moz-animation-name: to-one-inch-width;
}

.testruns-list-edit-column.ng-hide-add {
  .animated;
  animation-name: from-one-inch-width;
  -webkit-animation-name: from-one-inch-width;
  -moz-animation-name: from-one-inch-width;
  display: block !important;
}

.testruns-list-name-column {
}

.testruns-list-results-column {
}

.testruns-list-environment-column {
}

.testruns-list-build-column {
}

.testruns-list-created-column {
}

.testruns-list-row {
  padding-top: .05in;
  padding-bottom: .05in;
}

.testruns-list-row.ng-enter {
  .animated;
  .fadeInRightBig;
}

.testruns-list-row.ng-leave {
  .animated;
  .fadeOutRightBig;
}

.testruns-list-row:last-child {
  border-bottom: none;
}

.testruns-list-testrun-description {
  padding-left: .1in;
}

md-card md-card-header {
  align-items: center;
}

.testruns-list-filter {
  .flex-container;
  margin-top: .1in;
  margin-bottom: .1in;
}

.testruns-list-filter-project {
  text-align: right;
  width: 33%;
}

.testruns-list-filter-release {
  width: 33%;
  text-align: center;
}

.testruns-list-results-container {
  .flex-container;
}

.testruns-list-results-container .testrun-stats {
  width: 60%;
}

.testrun-summary-container {
  .flex-container;
  justify-content: space-around;
  text-align: left;
  margin-top: .25in;
  margin-bottom: .25in;
  flex-wrap: wrap;
}

md-input-container {
  margin-bottom: 0px;
}

.mdtTableContainer * {
  color: white;
}

.collapsible-item {
  margin-bottom: unset;
  &.body {
    outline: unset;
  }
}

.collapsible-item .title {
  background-color: unset;
  background-image: unset;
  border: unset;
  border-radius: unset;
  cursor: pointer;
  &:focus {
    outline: unset;
  }
}

.collapsible-item > .body {
  border: unset;
  overflow: auto;
}

.testrun-summary-data {
  font-size: .4in;
}

.md-table-pagination {
  color: unset;
}

.testrun-summary-data-container {
  display: inline-block;
}

.testrun-summary-data-row {
  .flex-container;
  width: unset;
}

.reschedule-button {
  min-width: .45in;
  min-height: .45in;
  max-width: .45in;
  max-height: .45in;
  background-image: url("images/rerun_blank.png");
  background-size: .44in;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: .1in;
}

.reschedule-button:hover {
  background-image: url("images/rerun_hover.png");
}

.reschedule-button:active {
  background-image: url("images/rerun_clicked.png");
}

.reschedule-button.reschedule-button-result {
  min-width: .25in;
  min-height: .25in;
  max-width: .25in;
  max-height: .25in;
  background-size: .24in;
  margin-left: .1in;
}

.cancel-button-empty {
  min-width: .45in;
  min-height: .45in;
  max-width: .45in;
  max-height: .45in;
  margin-right: .1in;
}

.cancel-button {
  min-width: .45in;
  min-height: .45in;
  max-width: .45in;
  max-height: .45in;
  background-image: url("images/cancel_blank.png");
  background-size: .44in;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: .1in;
}

.cancel-button:hover {
  background-image: url("images/cancel_hover.png");
}

.cancel-button:active {
  background-image: url("images/cancel_clicked.png");
}

.testrun-summary-data-status {
  width: 3in;
}

.testrun-summary-data-number {
  width: 1in;
}

.testrun-summary-data-notes {
  font-size: .5em;
  text-align: right;
}

.md-button.md-icon-button {
  height: 36px !important;
  width: 36px !important;
}

.testrun-summary-data-row.result-status-total {
  border-top: 1px solid white;
  padding-top: .1in;
}

.testrun-summary-chart {
  margin: 0 auto;
  height: 5in;
  width: 5in;
}

.testrun-summary-metadata-row {
  .flex-container;
  width: 350px;
}

.testrun-summary-metadata-key {
  width: 35%;
  font-weight: bold;
}

.testrun-summary-metadata-value {
  width: 65%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.testrun-summary-metadata-value.button {
  margin-top: 2px;
  margin-bottom: 2px;
}

.testrun-summary-metadata-row-project,
.testrun-summary-metadata-row-release,
.testrun-summary-metadata-row-build {
  font-size: 2em;
}

.testrun-summary-metadata-row-build {
  margin-bottom: .1in;
}

.testrun-summary-outer {
  text-align: center;
}

.testrun-summary-inner {
  display: flex;
}

.testrun-summary-filter {
  display: inline-block;
}

.testrun-summary-subfilter {
  padding-left: .2in;
  font-size: .7em;
}

.testrun-summary-filter-container {
  font-size: 1.5em;
}

.result-list-column-container {
  padding-bottom: 5px;
}

.result-list-row.ng-enter {
  .animated;
  .fadeInRightBig;
}

.result-list-row.ng-leave {
  .animated;
  .fadeOutRightBig;
}

td, th {
  padding: 5px;
}

table {
  border-collapse: collapse;
  border-spacing: unset;
  border-color: unset;
}

.result-list-name-column {
  font-weight: bold;
}

.result-list-author-column {
}

.result-list-component-column {
}

.result-list-recorded-column {
}

.result-list-duration-column {
}

.result-list-hostname-column {
}

.result-list-history-column {
}

.result-list-status-column {
}

.result-list-row {
  padding-top: .05in;
  margin-bottom: .05in;
}

.result-list-row md-list {
  padding: unset;
}

.vertical-divider {
  border-top-width: 0;
  margin-left: 10px;
  margin-right: 10px;
  border-right: 1px solid;
  height: 100%;
}

.testrun-summary-filter-form {
  margin-bottom: 0;
}

.result-list-tcdata-part {
  margin-left: .3in;
  .flex-container;
}

.result-list-automationid-column {
  .flex-grow-on;
  margin-right: .1in;
}

.result-list-resultid-column {
  width: 3.5in;
  margin-right: .1in;
}

.result-list-reason-part {
  margin-left: .3in;
}

.result-list-reason-part.ng-hide-remove {
  .animated;
  .fadeIn;
}

.result-list-log-column {
  width: 15%;
  min-width: 15%;
}

.result-list-files-column {
  padding-left: .2in;
  width: 60%;
  min-width: 60%;
}

.result-list-actions-column {
  padding-left: .2in;
}

.result-list-reason-field {
  font-family: monospace;
}

.result-list-more-detail-part {
  margin-top: .1in;
}

.result-expanded.ng-hide-remove {
  .animated;
  .fadeInDown;
}

.result-expanded.ng-hide-add {
  .animated;
  .fadeOutUp;
}

.result-list-more-detail-part.ng-hide-remove {
  .animated;
  .fadeInDown;
}

.result-list-more-detail-part.ng-hide-add {
  display: block !important;
  .animated;
  .fadeOutUp;
}

.result-list-more-detail-screenshots {
}

.result-list-more-detail-screenshots img {
  width: 80%;
}

.result-list-more-detail-screenshot {
  text-align: center;
}

.result-list-more-detail-screenshot-filename {
  text-align: center;
}

.result-list-more-detail-reason {
  padding-left: .1in;
}

.testrun-summary-add-note .data-view-property-value input[type=text],
.testrun-summary-add-note .data-view-property-value input[type=url] {
  -webkit-box-sizing: border-box;
  -moz-box-shadow: border-box;
  box-sizing: border-box;
  width: 90%;
}

.testrun-summary-add-note .data-view-item.ng-hide-remove {
  .animated;
  .fadeIn;
}

.testrun-summary-add-note .data-view-item.ng-hide-add {
  .flex-container-important;
  .animated;
  .fadeOut;
}

.result-note {
  color: @c-status-broken;
  margin-bottom: 5px;
  .INFO {
    color: @c-status-noresult;
  }
}

.result-note-timestamp {

}

.result-note-message {
  margin-left: .2in;
}

.result-note-link {
  margin-left: .2in;
}

.testrun-summary-display-file-image {
  padding-left: 5%;
}

.testrun-summary-display-file-image img {
  width: 90%;
}

.testrun-summary-display-file-embed-video {
  width: 800;
  margin-left: auto;
  margin-right: auto;
}

.result-list-history-column md-icon {
  width: .2in;
}

@media screen and (max-device-width: 768px) {
  .testrun-summary-data {
    font-size: .2in;
  }

  .testrun-summary-data-status {
    width: 1.5in;
  }

  .testrun-summary-data-number {
    width: .5in;
  }

  .reschedule-button {
    min-width: .25in;
    min-height: .25in;
    max-width: .25in;
    max-height: .25in;
    background-size: .24in;
    margin-left: .1in;
  }

  .cancel-button {
    min-width: .25in;
    min-height: .25in;
    max-width: .25in;
    max-height: .25in;
    background-size: .24in;
    margin-right: .1in;
  }

  .cancel-button-empty {
    min-width: .25in;
    min-height: .25in;
    max-width: .25in;
    max-height: .25in;
    margin-right: .1in;
  }

  .testrun-summary-chart {
    height: 3in;
    width: 3in;
  }
}
